<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Preliminaries

## Import packages

In [1]:
# Required standard libraries
import pandas as pd
import json
import urllib
import requests
import os
import re
import numpy as np
import bs4 as bs
import selenium
import html5lib
import nltk
import datetime
from selenium import webdriver

# Extractors 
import extract

# Cleansers (cluster specific)
import cleanse

# Normalizer (generalised across all clusters)
from normalize import scaler

# Utils
from utils import utils

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Define filepaths

In [3]:
# Define the export path for all data exports
from pathlib import Path

# CUrrent working directory
cwd = Path('.')

# Folder with data-in artifacts, quired to run this script
data_in = cwd / 'data_in'

# Folder to export raw data
data_sources_raw = cwd / 'data_out' / 'data_raw'
data_sources_raw.mkdir(parents=True, exist_ok=True)

# Folder to export cleansed data
data_sources_cleansed = cwd / 'data_out' / 'data_cleansed'
data_sources_cleansed.mkdir(parents=True, exist_ok=True)

# Folder to export normalized data
data_sources_normalized = cwd / 'data_out' / 'data_normalized'
data_sources_normalized.mkdir(parents=True, exist_ok=True)

## Load country list and mapping dictionary

In [4]:
# Load the list of countries which contains all different variations of country names 
country_full_list = pd.read_excel(
    data_in / 'all_countrynames_list.xlsx',
    keep_default_na = False).drop_duplicates()

# Create a version of the list with unique ISO2 and ISO3 codes
country_iso_list = country_full_list.drop_duplicates(subset = 'COUNTRY_ISO_2')

# Country CRBA list, this is the list of the countries that should be in the final CRBA indicator list
country_crba_list = pd.read_excel(
    data_in / 'crba_country_list.xlsx',
    header = None,
    usecols = [0, 1], 
    names = ['COUNTRY_ISO_3', 'COUNTRY_NAME']).merge(
        right = country_iso_list[['COUNTRY_ISO_2', 'COUNTRY_ISO_3']],
        how = 'left',
        on='COUNTRY_ISO_3',
        validate = 'one_to_one')

# Run the column mapper script to load the mapping dictionary
with open(data_in / 'column_mapping.py') as file:
    exec(file.read())

# Run the column mapper script to load the mapping dictionary
with open(data_in / 'value_mapping.py') as file:
    exec(file.read())

## Read data dictionary

In [5]:
# sources sheet
crba_data_dictionary_source = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Source",
    keep_default_na = False
)

# snapshot sheet
crba_data_dictionary_snapshot = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Snapshot",
    keep_default_na = False
)

# indicator sheet
crba_data_dictionary_indicator = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Indicator",
    keep_default_na = False
)

# Input lists
crba_data_dictionary_input_list = pd.read_excel(
    data_in / 'indicator_dictionary_CRBA.xlsx',
    sheet_name = "Input_Lists",
    keep_default_na = False
)

# Add 2-digit shortcodes of index, issue and category to indicators sheet
crba_data_dictionary_indicator = crba_data_dictionary_indicator.merge(
    right=crba_data_dictionary_input_list[['INDEX', 'INDEX_CODE']],
    left_on='INDEX',
    right_on='INDEX'
).merge(
    right=crba_data_dictionary_input_list[['ISSUE', 'ISSUE_CODE']],
    left_on='ISSUE',
    right_on='ISSUE'
).merge(
    right=crba_data_dictionary_input_list[['CATEGORY', 'CATEGORY_CODE']],
    left_on='CATEGORY',
    right_on='CATEGORY'
)

# Create indicator code prefix (INDEX-ISSUE_CAEGORY CODE)
crba_data_dictionary_indicator = crba_data_dictionary_indicator.assign(
    INDICATOR_CODE_PREFIX = crba_data_dictionary_indicator.INDEX_CODE +
    "_" +
    crba_data_dictionary_indicator.ISSUE_CODE+
    "_"+
    crba_data_dictionary_indicator.CATEGORY_CODE+
    "_")

# Create indicator code
crba_data_dictionary_indicator = crba_data_dictionary_indicator.assign(
    INDICATOR_CODE = crba_data_dictionary_indicator.INDICATOR_CODE_PREFIX + crba_data_dictionary_indicator.INDICATOR_NAME.apply(
    lambda x: utils.create_ind_code(x)
))

In [5]:
import importlib, inspect

extractors = { 
    cls.type: cls for name, cls in inspect.getmembers(
        importlib.import_module("extract"), 
        inspect.isclass
    ) if hasattr(cls, 'type')
}

# Extract
## API sources
### CSV API sources

In [6]:
# CSV sources
api_sources = crba_data_dictionary_source[
    (crba_data_dictionary_source["SOURCE_TYPE"] == "API (ILO)") | 
    (crba_data_dictionary_source["SOURCE_TYPE"] == "API (UNESCO)") | 
    (crba_data_dictionary_source["SOURCE_TYPE"] == "API (WHO)")
].merge(
    right = crba_data_dictionary_snapshot,
    on = "SOURCE_ID"
).merge(
    right = crba_data_dictionary_indicator,
    on = 'INDICATOR_ID'
)

# define emty dataframe
combined_cleansed_csv = pd.DataFrame()
combined_normalized_csv = pd.DataFrame()

# Loop to extract data from API sources
for index, row in api_sources.iterrows():
    # Log
    print("\n - - - - - \n Extracting source {} \n".format(row["SOURCE_ID"]))
    
    # Extraction section
    try:
        # Extract data
        dataframe = extract.CSVExtractor.extract(url = row["ENDPOINT_URL"])
        
        # Save raw data
        dataframe.to_csv(
            data_sources_raw / str(row["SOURCE_ID"] + "_raw.csv"),
            sep = ";"
            )
    
    except:
       print("There was a problem with extraction of source {} \n".format(row["SOURCE_ID"]))
    
    # Log that we are entering cleasning
    print("\n - - - - - \n Cleansing source {} \n".format(row["SOURCE_ID"]))
    
    # Cleansing section
    # try: 
    print(row["VALUE_LABELS"])
    dataframe_cleansed = cleanse.Cleanser().cleanse(
        raw_data = dataframe,
        mapping_dictionary = mapping_dict,
        final_sdmx_col_list = sdmx_df_columns_all,
        dim_cols = sdmx_df_columns_dims,
        country_cols = sdmx_df_columns_country,
        time_cols = sdmx_df_columns_time,
        attr_cols=sdmx_df_columns_attr,
        country_list_full = country_full_list,
        crba_country_list = country_crba_list,
        variable_type = row["VALUE_LABELS"]
        )

    # Map column values
    dataframe_cleansed = cleanse.Cleanser().map_values(
        cleansed_data = dataframe_cleansed,
        value_mapping_dict = value_mapper)
    

    # Encode values of categorical variables
    if row["VALUE_LABELS"] != "Continuous variable":
        dataframe_cleansed = cleanse.Cleanser().encode_categorical_variables(dataframe = dataframe_cleansed, encoding_string = row["VALUE_LABELS"])


    # Add columns
    # Indicator name
    dataframe_cleansed["INDICATOR_NAME"] = row["INDICATOR_NAME_x"]

    # Index name
    dataframe_cleansed["INDICATOR_INDEX"] = row["INDEX"]

    # Issue name
    dataframe_cleansed["INDICATOR_ISSUE"] = row["ISSUE"]

    # Category name
    dataframe_cleansed["INDICATOR_CATEGORY"] = row["CATEGORY"]

    # YEAR_CRBA_RELEASE with current year
    dataframe_cleansed["CRBA_RELEASE_YEAR"] = datetime.datetime.now().year

    # Create column indicator code
    dataframe_cleansed["INDICATOR_CODE"] = row["INDICATOR_CODE"]

    # Save cleansed data
    dataframe_cleansed.to_csv(
        data_sources_cleansed / str(row["SOURCE_ID"] + "_cleansed.csv"),
        sep = ";")

    # Log if there is an error
    # except:
    #     print("There was a problem with cleansing of source {}".format(row["SOURCE_ID"]))
    
    
    # Normalizing section
    # try:
    dataframe_normalized = scaler.normalizer(
        cleansed_data = dataframe_cleansed,
        sql_subset_query_string=row["DIMENSION_VALUES_NORMALIZATION"],
        dim_cols=sdmx_df_columns_dims,
        variable_type = row["VALUE_LABELS"],
        is_inverted = row["INVERT_NORMALIZATION"],
        whisker_factor=1.5,
        raw_data_col="RAW_OBS_VALUE",
        scaled_data_col_name="SCALED_OBS_VALUE",
        maximum_score=10,
        )
    
    dataframe_normalized.to_csv(
        data_sources_normalized / str(row["SOURCE_ID"] + "_normalized.csv"),
        sep = ";")
    # except:
    #    print("There was a problem with normalising of source {}".format(row["SOURCE_ID"]))
    
    
    # Append dataframe to combined dataframe
    combined_cleansed_csv = combined_cleansed_csv.append(
        other = dataframe_cleansed
    )

    # Append dataframe to combined dataframe
    combined_normalized_csv = combined_normalized_csv.append(
        other = dataframe_normalized
    )

 - - - - -
 Extracting source S-51

The following columns are present in the datasets, and this is the number of unique values they have.
The column DATAFLOW has 1 unique values.
The column COLLECTION has 1 unique values.
The column REF_AREA has 112 unique values.
The column FREQ has 1 unique values.
The column MEASURE has 1 unique values.
The column SEX has 3 unique values.
The column TIME_PERIOD has 10 unique values.
The column OBS_VALUE has 763 unique values.
The column OBS_STATUS has 2 unique values.
The column UNIT_MEASURE_TYPE has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column UNIT_MULT has 1 unique values.
The column SOURCE_NOTE has 47 unique values.
The column INDICATOR_NOTE has 48 unique values.
The column CLASSIFICATION_NOTE has 1 unique values.
The column CURRENCY_NOTE has 1 unique values.
The column DECIMALS has 1 unique values.
The column UPPER_BOUND has 1 unique values.
The column LOWER_BOUND has 1 unique values.

 - - - - -
 Cleansing source S-51

Continuous variable
Cleansing done. There are 413 rows in the dataframe and 20.82% have a NA-value in the column 'OBS_RAW_VALUE

 Successfully mapped values of column: DIM_SEX
Values of column: DIM_EDU_LEVEL couldn't be mapped. If column DIM_EDU_LEVEL is present, there is an error with the code.
Values of column: DIM_AGE couldn't be mapped. If column DIM_AGE is present, there is an error with the code.
Values of column: DIM_AGE_GROUP couldn't be mapped. If column DIM_AGE_GROUP is present, there is an error with the code.
Values of column: DIM_MANAGEMENT_LEVEL couldn't be mapped. If column DIM_MANAGEMENT_LEVEL is present, there is an error with the code.
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.
Values of column: DIM_SDG_INDICATOR couldn't be mapped. If column DIM_SDG_INDICATOR is present, there is an error with the code.
Values of column: DIM_SECTOR couldn't be mapped. If column DIM_SECTOR is present, there is an error with the code.
The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 53.05499999999999
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 30.37. This value corresponds to country:     COUNTRY_ISO_3     DIM_SEX  TIME_PERIOD  RAW_OBS_VALUE  \
230           FSM  BOTH_SEXES       2014.0          30.37

    ATTR_SOURCE_OBS_STATUS ATTR_UNIT_MEASURE  \
230                    nan                HR

                                      ATTR_SOURCE_NOTE  \
230  Repository: ILO-STATISTICS - Micro data proces...

                ATTR_SOURCE_INDICATOR_NOTE _merge          INDICATOR_NAME  \
230  Job coverage: Main job currently held   both  Average working hours.

    INDICATOR_INDEX            INDICATOR_ISSUE INDICATOR_CATEGORY  \
230       Workplace  Decent working conditions            Outcome

     CRBA_RELEASE_YEAR   INDICATOR_CODE
230               2020  WP_DW_OC_AVWOHO


 - - - - -
 Extracting source S-52

The following columns are present in the datasets, and this is the number of unique values they have.
The column Dataflow has 1 unique values.
The column STAT_UNIT has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column EDU_LEVEL has 1 unique values.
The column EDU_CAT has 1 unique values.
The column SEX has 3 unique values.
The column AGE has 1 unique values.
The column GRADE has 1 unique values.
The column SECTOR_EDU has 1 unique values.
The column EDU_ATTAIN has 1 unique values.
The column WEALTH_QUINTILE has 1 unique values.
The column LOCATION has 1 unique values.
The column EDU_TYPE has 1 unique values.
The column EDU_FIELD has 1 unique values.
The column SUBJECT has 1 unique values.
The column INFRASTR has 1 unique values.
The column SE_BKGRD has 1 unique values.
The column TEACH_EXPERIENCE has 1 unique values.
The column CONTRACT_TYPE has 1 unique values.
The column COUNTRY_ORIGIN has 1 unique values.
The column REGION_DEST has 1 unique values.
The column IMM_STATUS has 1 unique values.
The column REF_AREA has 332 unique values.
The column TIME_PERIOD has 10 unique values.
The column OBS_VALUE has 6701 unique values.
The column UNIT_MULT has 1 unique values.
The column OBS_STATUS has 3 unique values.
The column FREQ has 1 unique values.
The column DECIMALS has 1 unique values.

 - - - - -
 Cleansing source S-52

Continuous variable
The column REF_AREA has been renamed into COUNTRY_ISO_3, but should be COUNTRY_ISO_2. Now renaming it into COUNTRY_ISO_2
Cleansing done. There are 541 rows in the dataframe and 4.07% have a NA-value in the column 'OBS_RAW_VALUE

 Successfully mapped values of column: DIM_SEX

 Successfully mapped values of column: DIM_EDU_LEVEL

 Successfully mapped values of column: DIM_AGE
Values of column: DIM_AGE_GROUP couldn't be mapped. If column DIM_AGE_GROUP is present, there is an error with the code.
Values of column: DIM_MANAGEMENT_LEVEL couldn't be mapped. If column DIM_MANAGEMENT_LEVEL is present, there is an error with the code.
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.
Values of column: DIM_SDG_INDICATOR couldn't be mapped. If column DIM_SDG_INDICATOR is present, there is an error with the code.
Values of column: DIM_SECTOR couldn't be mapped. If column DIM_SECTOR is present, there is an error with the code.
The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 123.82281499999999
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.77154. This value corresponds to country:     ATTR_UNIT_MEASURE          DIM_EDU_LEVEL     DIM_SEX DIM_AGE  \
532                PT  PRE-PRIMARY EDUCATION  BOTH_SEXES      _T

    COUNTRY_ISO_2  TIME_PERIOD  RAW_OBS_VALUE ATTR_SOURCE_OBS_STATUS _merge  \
532            YE       2016.0        0.77154                      A   both

                       INDICATOR_NAME INDICATOR_INDEX  \
532  Access to pre-primary education.       Workplace

               INDICATOR_ISSUE INDICATOR_CATEGORY  CRBA_RELEASE_YEAR  \
532  Decent working conditions            Outcome               2020

      INDICATOR_CODE
532  WP_DW_OC_ACPRED


 - - - - -
 Extracting source S-53

The following columns are present in the datasets, and this is the number of unique values they have.
The column DATAFLOW has 1 unique values.
The column COLLECTION has 1 unique values.
The column REF_AREA has 170 unique values.
The column FREQ has 1 unique values.
The column MEASURE has 1 unique values.
The column OCU has 2 unique values.
The column TIME_PERIOD has 10 unique values.
The column OBS_VALUE has 1282 unique values.
The column OBS_STATUS has 1 unique values.
The column UNIT_MEASURE_TYPE has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column UNIT_MULT has 1 unique values.
The column SOURCE_NOTE has 93 unique values.
The column INDICATOR_NOTE has 6 unique values.
The column CLASSIFICATION_NOTE has 1 unique values.
The column CURRENCY_NOTE has 1 unique values.
The column DECIMALS has 1 unique values.
The column UPPER_BOUND has 1 unique values.
The column LOWER_BOUND has 1 unique values.

 - - - - -
 Cleansing source S-53

Continuous variable
Cleansing done. There are 298 rows in the dataframe and 12.75% have a NA-value in the column 'OBS_RAW_VALUE
Values of column: DIM_SEX couldn't be mapped. If column DIM_SEX is present, there is an error with the code.
Values of column: DIM_EDU_LEVEL couldn't be mapped. If column DIM_EDU_LEVEL is present, there is an error with the code.
Values of column: DIM_AGE couldn't be mapped. If column DIM_AGE is present, there is an error with the code.
Values of column: DIM_AGE_GROUP couldn't be mapped. If column DIM_AGE_GROUP is present, there is an error with the code.

 Successfully mapped values of column: DIM_MANAGEMENT_LEVEL
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.
Values of column: DIM_SDG_INDICATOR couldn't be mapped. If column DIM_SDG_INDICATOR is present, there is an error with the code.
Values of column: DIM_SECTOR couldn't be mapped. If column DIM_SECTOR is present, there is an error with the code.
The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 63.86
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 4.05. This value corresponds to country:   COUNTRY_ISO_3 DIM_MANAGEMENT_LEVEL  TIME_PERIOD  RAW_OBS_VALUE  \
1           AFG       OCU_MGMT_TOTAL       2017.0           4.05

  ATTR_SOURCE_OBS_STATUS ATTR_UNIT_MEASURE  \
1                    nan                PT

                                    ATTR_SOURCE_NOTE  \
1  Repository: ILO-STATISTICS - Micro data proces...

  ATTR_SOURCE_INDICATOR_NOTE _merge        INDICATOR_NAME INDICATOR_INDEX  \
1                        nan   both  Women in management.       Workplace

             INDICATOR_ISSUE INDICATOR_CATEGORY  CRBA_RELEASE_YEAR  \
1  Decent working conditions            Outcome               2020

    INDICATOR_CODE
1  WP_DW_OC_WOMMAN


 - - - - -
 Extracting source S-55

The following columns are present in the datasets, and this is the number of unique values they have.
The column Dataflow has 1 unique values.
The column STAT_UNIT has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column EDU_LEVEL has 1 unique values.
The column EDU_CAT has 1 unique values.
The column SEX has 3 unique values.
The column AGE has 1 unique values.
The column GRADE has 1 unique values.
The column SECTOR_EDU has 1 unique values.
The column EDU_ATTAIN has 1 unique values.
The column SUBJECT has 1 unique values.
The column WEALTH_QUINTILE has 1 unique values.
The column INFRASTR has 1 unique values.
The column LOCATION has 1 unique values.
The column EDU_TYPE has 1 unique values.
The column SE_BKGRD has 1 unique values.
The column SOURCE_FUND has 1 unique values.
The column FUND_FLOW has 1 unique values.
The column IMM_STATUS has 1 unique values.
The column REF_AREA has 260 unique values.
The column TIME_PERIOD has 2 unique values.
The column OBS_VALUE has 1167 unique values.
The column UNIT_MULT has 1 unique values.
The column OBS_STATUS has 3 unique values.
The column FREQ has 1 unique values.
The column DECIMALS has 1 unique values.

 - - - - -
 Cleansing source S-55

Continuous variable
The column REF_AREA has been renamed into COUNTRY_ISO_3, but should be COUNTRY_ISO_2. Now renaming it into COUNTRY_ISO_2
Cleansing done. There are 379 rows in the dataframe and 22.16% have a NA-value in the column 'OBS_RAW_VALUE

 Successfully mapped values of column: DIM_SEX

 Successfully mapped values of column: DIM_EDU_LEVEL

 Successfully mapped values of column: DIM_AGE
Values of column: DIM_AGE_GROUP couldn't be mapped. If column DIM_AGE_GROUP is present, there is an error with the code.
Values of column: DIM_MANAGEMENT_LEVEL couldn't be mapped. If column DIM_MANAGEMENT_LEVEL is present, there is an error with the code.
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.
Values of column: DIM_SDG_INDICATOR couldn't be mapped. If column DIM_SDG_INDICATOR is present, there is an error with the code.
Values of column: DIM_SECTOR couldn't be mapped. If column DIM_SECTOR is present, there is an error with the code.
The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 32.41972750000001
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.00589. This value corresponds to country:     ATTR_UNIT_MEASURE              DIM_EDU_LEVEL     DIM_SEX  \
201                PT  LOWER SECONDARY EDUCATION  BOTH_SEXES

                   DIM_AGE COUNTRY_ISO_2  TIME_PERIOD  RAW_OBS_VALUE  \
201  SCHOOL_AGE_POPULATION            LT       2017.0        0.00589

    ATTR_SOURCE_OBS_STATUS _merge  \
201                      E   both

                                  INDICATOR_NAME INDICATOR_INDEX  \
201  Out-of-school adolescents (lower secondary)       Workplace

    INDICATOR_ISSUE INDICATOR_CATEGORY  CRBA_RELEASE_YEAR   INDICATOR_CODE
201    Child labour            Outcome               2020  WP_CL_OC_OUADLS


 - - - - -
 Extracting source S-56

The following columns are present in the datasets, and this is the number of unique values they have.
The column Dataflow has 1 unique values.
The column STAT_UNIT has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column EDU_LEVEL has 1 unique values.
The column EDU_CAT has 1 unique values.
The column SEX has 3 unique values.
The column AGE has 1 unique values.
The column GRADE has 1 unique values.
The column SECTOR_EDU has 1 unique values.
The column EDU_ATTAIN has 1 unique values.
The column SUBJECT has 1 unique values.
The column WEALTH_QUINTILE has 1 unique values.
The column INFRASTR has 1 unique values.
The column LOCATION has 1 unique values.
The column EDU_TYPE has 1 unique values.
The column SE_BKGRD has 1 unique values.
The column SOURCE_FUND has 1 unique values.
The column FUND_FLOW has 1 unique values.
The column IMM_STATUS has 1 unique values.
The column REF_AREA has 264 unique values.
The column TIME_PERIOD has 2 unique values.
The column OBS_VALUE has 1210 unique values.
The column UNIT_MULT has 1 unique values.
The column OBS_STATUS has 3 unique values.
The column FREQ has 1 unique values.
The column DECIMALS has 1 unique values.

 - - - - -
 Cleansing source S-56

Continuous variable
The column REF_AREA has been renamed into COUNTRY_ISO_3, but should be COUNTRY_ISO_2. Now renaming it into COUNTRY_ISO_2
Cleansing done. There are 409 rows in the dataframe and 19.32% have a NA-value in the column 'OBS_RAW_VALUE

 Successfully mapped values of column: DIM_SEX

 Successfully mapped values of column: DIM_EDU_LEVEL

 Successfully mapped values of column: DIM_AGE
Values of column: DIM_AGE_GROUP couldn't be mapped. If column DIM_AGE_GROUP is present, there is an error with the code.
Values of column: DIM_MANAGEMENT_LEVEL couldn't be mapped. If column DIM_MANAGEMENT_LEVEL is present, there is an error with the code.
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.
Values of column: DIM_SDG_INDICATOR couldn't be mapped. If column DIM_SDG_INDICATOR is present, there is an error with the code.
Values of column: DIM_SECTOR couldn't be mapped. If column DIM_SECTOR is present, there is an error with the code.
The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 72.70726624999999
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.06444. This value corresponds to country:     ATTR_UNIT_MEASURE              DIM_EDU_LEVEL     DIM_SEX  \
267                PT  UPPER SECONDARY EDUCATION  BOTH_SEXES

                   DIM_AGE COUNTRY_ISO_2  TIME_PERIOD  RAW_OBS_VALUE  \
267  SCHOOL_AGE_POPULATION            NL       2017.0        0.06444

    ATTR_SOURCE_OBS_STATUS _merge  \
267                      A   both

                                   INDICATOR_NAME INDICATOR_INDEX  \
267  Out-of-school adolescents (upper secondary).       Workplace

    INDICATOR_ISSUE INDICATOR_CATEGORY  CRBA_RELEASE_YEAR   INDICATOR_CODE
267    Child labour            Outcome               2020  WP_CL_OC_OUADUS


 - - - - -
 Extracting source S-82

The following columns are present in the datasets, and this is the number of unique values they have.
The column GHO has 1 unique values.
The column PUBLISHSTATE has 1 unique values.
The column YEAR has 1 unique values.
The column REGION has 6 unique values.
The column COUNTRY has 132 unique values.
The column Display Value has 3 unique values.
The column Numeric has 1 unique values.
The column Low has 1 unique values.
The column High has 1 unique values.
The column Comments has 1 unique values.

 - - - - -
 Cleansing source S-82

3=Larger scale; 2=Limited; 1=None; 0=No data; 0=Don't Know; 0=Don't know
We are in the non continous case
Cleansing done. There are 195 rows in the dataframe and 32.82% have a NA-value in the column 'OBS_RAW_VALUE
Values of column: DIM_SEX couldn't be mapped. If column DIM_SEX is present, there is an error with the code.
Values of column: DIM_EDU_LEVEL couldn't be mapped. If column DIM_EDU_LEVEL is present, there is an error with the code.
Values of column: DIM_AGE couldn't be mapped. If column DIM_AGE is present, there is an error with the code.
Values of column: DIM_AGE_GROUP couldn't be mapped. If column DIM_AGE_GROUP is present, there is an error with the code.
Values of column: DIM_MANAGEMENT_LEVEL couldn't be mapped. If column DIM_MANAGEMENT_LEVEL is present, there is an error with the code.
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.
Values of column: DIM_SDG_INDICATOR couldn't be mapped. If column DIM_SDG_INDICATOR is present, there is an error with the code.
Values of column: DIM_SECTOR couldn't be mapped. If column DIM_SECTOR is present, there is an error with the code.

 LOOK INTO HERE RIGHT NOW

[['3', 'Larger scale']]
[['3', 'Larger scale'], [' 2', 'Limited']]
[['3', 'Larger scale'], [' 2', 'Limited'], [' 1', 'None']]
[['3', 'Larger scale'], [' 2', 'Limited'], [' 1', 'None'], [' 0', 'No data']]
[['3', 'Larger scale'], [' 2', 'Limited'], [' 1', 'None'], [' 0', 'No data'], [' 0', "Don't Know"]]
[['3', 'Larger scale'], [' 2', 'Limited'], [' 1', 'None'], [' 0', 'No data'], [' 0', "Don't Know"], [' 0', "Don't know"]]
\STOP LOOKING INTO HERE RIGHT NOW

['3' '0' '2' '1']
<class 'numpy.ndarray'>
0
1
2
3

 - - - - -
 Extracting source S-83

The following columns are present in the datasets, and this is the number of unique values they have.
The column GHO has 1 unique values.
The column PUBLISHSTATE has 1 unique values.
The column YEAR has 1 unique values.
The column REGION has 6 unique values.
The column COUNTRY has 132 unique values.
The column Display Value has 4 unique values.
The column Numeric has 1 unique values.
The column Low has 1 unique values.
The column High has 1 unique values.
The column Comments has 1 unique values.

 - - - - -
 Cleansing source S-83

3=Larger scale; 2=Limited; 1=None; 0=No data; 0=Don't Know; 0=Don't know
We are in the non continous case
Cleansing done. There are 195 rows in the dataframe and 32.82% have a NA-value in the column 'OBS_RAW_VALUE
Values of column: DIM_SEX couldn't be mapped. If column DIM_SEX is present, there is an error with the code.

### JSON API sources

In [7]:
# JSON sources
api_sources = crba_data_dictionary_source[
    (crba_data_dictionary_source["SOURCE_TYPE"] == "API (SDG)")
].merge(
    right = crba_data_dictionary_snapshot,
    on = "SOURCE_ID"
).merge(
    right = crba_data_dictionary_indicator,
    on = 'INDICATOR_ID'
)

# Loop to extract data from API sources
for index, row in api_sources.iterrows():
    print("\n - - - - - \n Extracting source {} \n".format(row["SOURCE_ID"]))
    
    # Exraction section
    try:
        dataframe = extract.JSONExtractor.extract(url = row["ENDPOINT_URL"])
        dataframe.to_csv(
            data_sources_raw / str(row["SOURCE_ID"] + "_raw.csv"),
            sep = ";")
    except:
        print("There was an issue with source {}".format(row["SOURCE_ID"]))

    # Log that we are entering cleasning
    print("\n - - - - - \n Cleansing source {} \n".format(row["SOURCE_ID"]))
    
    # Cleansing section 
    # try:
    dataframe_cleansed = cleanse.Cleanser().cleanse(
        raw_data = dataframe,
        mapping_dictionary = mapping_dict,
        final_sdmx_col_list = sdmx_df_columns_all,
        dim_cols = sdmx_df_columns_dims,
        country_cols = sdmx_df_columns_country,
        time_cols = sdmx_df_columns_time,
        attr_cols=sdmx_df_columns_attr,
        country_list_full = country_full_list,
        crba_country_list = country_crba_list,
        variable_type=row["VALUE_LABELS"]
        )
    
    # Map column values
    dataframe_cleansed = cleanse.Cleanser().map_values(
        cleansed_data = dataframe_cleansed,
        value_mapping_dict = value_mapper)
    
    # Encode values of categorical variables
    if row["VALUE_LABELS"] != "Continuous variable":
        dataframe_cleansed = cleanse.Cleanser().encode_categorical_variables(
            dataframe = dataframe_cleansed,
            encoding_string = row["VALUE_LABELS"])

    # Add additional columns
    # Indicator name
    dataframe_cleansed["INDICATOR_NAME"] = row["INDICATOR_NAME_x"]

    # Index name
    dataframe_cleansed["INDICATOR_INDEX"] = row["INDEX"]

    # Issue name
    dataframe_cleansed["INDICATOR_ISSUE"] = row["ISSUE"]

    # Category name
    dataframe_cleansed["INDICATOR_CATEGORY"] = row["CATEGORY"]

    # YEAR_CRBA_RELEASE with current year
    dataframe_cleansed["CRBA_RELEASE_YEAR"] = datetime.datetime.now().year

    # Create column indicator code
    dataframe_cleansed["INDICATOR_CODE"] = row["INDICATOR_CODE"]

    # Save dataframe
    dataframe_cleansed.to_csv(
        data_sources_cleansed / str(row["SOURCE_ID"] + "_cleansed.csv"),
        sep = ";")
    
    # except:
    #    print("There was an issue with cleansing of source {}".format(row["SOURCE_ID"]))

    
    # Normalizing section
    # try:
    dataframe_normalized = scaler.normalizer(
        cleansed_data = dataframe_cleansed,
        sql_subset_query_string=row["DIMENSION_VALUES_NORMALIZATION"],
        dim_cols=sdmx_df_columns_dims,
        variable_type = row["VALUE_LABELS"],
        is_inverted = row["INVERT_NORMALIZATION"],
        whisker_factor=1.5,
        raw_data_col="RAW_OBS_VALUE",
        scaled_data_col_name="SCALED_OBS_VALUE",
        maximum_score=10,
        )


    dataframe_normalized.to_csv(
        data_sources_normalized / str(row["SOURCE_ID"] + "_normalized.csv"),
sep = ";")
    # except:
    #    print("There was a problem with normalising of source {}".format(row["SOURCE_ID"]))
    
    # Append dataframe to combined cleansed dataframe
    combined_cleansed_csv = combined_cleansed_csv.append(
        other = dataframe_cleansed
    )

    # Append dataframe to combined dataframe
    combined_normalized_csv = combined_normalized_csv.append(
        other = dataframe_normalized
    )

# TO DO: Also include JSON and HTML as extractor --> No other way to put it into the loop than eval()?

 - - - - -
 Extracting source S-23

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 86 unique values.
The column geoAreaName has 86 unique values.
The column timePeriodStart has 20 unique values.
The column value has 3190 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 51 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 17 unique values.
The column attributes.Nature has 2 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Sex has 3 unique values.
The column dimensions.Reporting Type has 1 unique values.
The column dimensions.Activity has 3 unique values.

 - - - - -
 Cleansing source S-23

Cleansing done. There are 747 rows in the dataframe and 16.87% have a NA-value in the column 'OBS_RAW_VALUE

 Successfully mapped values of column: DIM_SEX
Values of column: DIM_EDU_LEVEL couldn't be mapped. If column DIM_EDU_LEVEL is present, there is an error with the code.
Values of column: DIM_AGE couldn't be mapped. If column DIM_AGE is present, there is an error with the code.
Values of column: DIM_AGE_GROUP couldn't be mapped. If column DIM_AGE_GROUP is present, there is an error with the code.
Values of column: DIM_MANAGEMENT_LEVEL couldn't be mapped. If column DIM_MANAGEMENT_LEVEL is present, there is an error with the code.
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.

 Successfully mapped values of column: DIM_SDG_INDICATOR

 Successfully mapped values of column: DIM_SECTOR
The distribution of the raw data for this subgroup does not contain outliers on the upper end. It is also not too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 96.25492. This value corresponds to country:     DIM_SDG_INDICATOR                     ATTR_SDG_INDICATOR_DESCRIPTION  \
175                 0  Proportion of informal employment, by sector a...

                         COUNTRY_NAME  TIME_PERIOD RAW_OBS_VALUE  \
175  Democratic Republic of the Congo       2005.0      96.25492

                                 ATTR_SOURCE_OF_SOURCE  \
175  LFS - Survey 1-2-3, Employment, informal secto...

                               ATTR_FOOTNOTE_OF_SOURCE ATTR_UNIT_MEASURE  \
175  ['Repository: ILO-STATISTICS - Micro data proc...           PERCENT

        DIM_SEX DIM_REP_TYPE       DIM_SECTOR COUNTRY_ISO_2 COUNTRY_ISO_3  \
175  BOTH_SEXES            G  Non-agriculture            CD           COD

    _merge        INDICATOR_NAME INDICATOR_INDEX INDICATOR_ISSUE  \
175   both  Informal employment.       Workplace    Child labour

    INDICATOR_CATEGORY  CRBA_RELEASE_YEAR   INDICATOR_CODE
175            Outcome               2020  WP_CL_OC_INFEMP

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 13.97051. This value corresponds to country:     DIM_SDG_INDICATOR                     ATTR_SDG_INDICATOR_DESCRIPTION  \
595                 0  Proportion of informal employment, by sector a...

    COUNTRY_NAME  TIME_PERIOD RAW_OBS_VALUE      ATTR_SOURCE_OF_SOURCE  \
595       Serbia       2018.0      13.97051  LFS - Labour force survey

                               ATTR_FOOTNOTE_OF_SOURCE ATTR_UNIT_MEASURE  \
595  ['Repository: ILO-STATISTICS - Micro data proc...           PERCENT

        DIM_SEX DIM_REP_TYPE       DIM_SECTOR COUNTRY_ISO_2 COUNTRY_ISO_3  \
595  BOTH_SEXES            G  Non-agriculture            RS           SRB

    _merge        INDICATOR_NAME INDICATOR_INDEX INDICATOR_ISSUE  \
595   both  Informal employment.       Workplace    Child labour

    INDICATOR_CATEGORY  CRBA_RELEASE_YEAR   INDICATOR_CODE
595            Outcome               2020  WP_CL_OC_INFEMP


 - - - - -
 Extracting source S-24

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 91 unique values.
The column geoAreaName has 91 unique values.
The column timePeriodStart has 10 unique values.
The column value has 228 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 3 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Age has 5 unique values.
The column dimensions.Sex has 3 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Cleansing source S-24

Cleansing done. There are 377 rows in the dataframe and 27.59% have a NA-value in the column 'OBS_RAW_VALUE

 Successfully mapped values of column: DIM_SEX
Values of column: DIM_EDU_LEVEL couldn't be mapped. If column DIM_EDU_LEVEL is present, there is an error with the code.
Values of column: DIM_AGE couldn't be mapped. If column DIM_AGE is present, there is an error with the code.

 Successfully mapped values of column: DIM_AGE_GROUP
Values of column: DIM_MANAGEMENT_LEVEL couldn't be mapped. If column DIM_MANAGEMENT_LEVEL is present, there is an error with the code.
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.

 Successfully mapped values of column: DIM_SDG_INDICATOR
Values of column: DIM_SECTOR couldn't be mapped. If column DIM_SECTOR is present, there is an error with the code.
The distribution of the raw data for this subgroup does not contain outliers on the upper end. It is also not too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 33.96166. This value corresponds to country:     DIM_SDG_INDICATOR                     ATTR_SDG_INDICATOR_DESCRIPTION  \
148                 0  Proportion of children engaged in economic act...

      COUNTRY_NAME  TIME_PERIOD RAW_OBS_VALUE        ATTR_SOURCE_OF_SOURCE  \
148  Guinea-Bissau       2014.0      33.96166  UNICEF and ILO calculations

    ATTR_FOOTNOTE_OF_SOURCE ATTR_UNIT_MEASURE DIM_AGE_GROUP     DIM_SEX  \
148                    ['']           PERCENT    5-17 YEARS  BOTH_SEXES

    DIM_REP_TYPE COUNTRY_ISO_2 COUNTRY_ISO_3 _merge  \
148            G            GW           GNB   both

                INDICATOR_NAME INDICATOR_INDEX INDICATOR_ISSUE  \
148  Child labour rate (5-17)        Workplace    Child labour

    INDICATOR_CATEGORY  CRBA_RELEASE_YEAR   INDICATOR_CODE
148            Outcome               2020  WP_CL_OC_CHLAR-

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.26104. This value corresponds to country:     DIM_SDG_INDICATOR                     ATTR_SDG_INDICATOR_DESCRIPTION  \
346                 0  Proportion of children engaged in economic act...

     COUNTRY_NAME  TIME_PERIOD RAW_OBS_VALUE        ATTR_SOURCE_OF_SOURCE  \
346  Turkmenistan       2015.0       0.26104  UNICEF and ILO calculations

    ATTR_FOOTNOTE_OF_SOURCE ATTR_UNIT_MEASURE DIM_AGE_GROUP     DIM_SEX  \
346                    ['']           PERCENT    5-17 YEARS  BOTH_SEXES

    DIM_REP_TYPE COUNTRY_ISO_2 COUNTRY_ISO_3 _merge  \
346            G            TM           TKM   both

                INDICATOR_NAME INDICATOR_INDEX INDICATOR_ISSUE  \
346  Child labour rate (5-17)        Workplace    Child labour

    INDICATOR_CATEGORY  CRBA_RELEASE_YEAR   INDICATOR_CODE
346            Outcome               2020  WP_CL_OC_CHLAR-


 - - - - -
 Extracting source S-61

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 142 unique values.
The column geoAreaName has 142 unique values.
The column timePeriodStart has 15 unique values.
The column value has 375 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 1 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Age has 1 unique values.
The column dimensions.Sex has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Cleansing source S-61

Cleansing done. There are 195 rows in the dataframe and 27.69% have a NA-value in the column 'OBS_RAW_VALUE

 Successfully mapped values of column: DIM_SEX
Values of column: DIM_EDU_LEVEL couldn't be mapped. If column DIM_EDU_LEVEL is present, there is an error with the code.
Values of column: DIM_AGE couldn't be mapped. If column DIM_AGE is present, there is an error with the code.

 Successfully mapped values of column: DIM_AGE_GROUP
Values of column: DIM_MANAGEMENT_LEVEL couldn't be mapped. If column DIM_MANAGEMENT_LEVEL is present, there is an error with the code.
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.

 Successfully mapped values of column: DIM_SDG_INDICATOR
Values of column: DIM_SECTOR couldn't be mapped. If column DIM_SECTOR is present, there is an error with the code.
The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 349.0
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.0. This value corresponds to country:     DIM_SDG_INDICATOR                     ATTR_SDG_INDICATOR_DESCRIPTION  \
0                   0  Detected victims of human trafficking, by age ...
2                   0  Detected victims of human trafficking, by age ...
24                  0  Detected victims of human trafficking, by age ...
47                  0  Detected victims of human trafficking, by age ...
192                 0  Detected victims of human trafficking, by age ...

          COUNTRY_NAME  TIME_PERIOD RAW_OBS_VALUE ATTR_SOURCE_OF_SOURCE  \
0          Afghanistan       2008.0             0       GLOTIP Database
2              Andorra       2017.0             0       GLOTIP Database
24   Brunei Darussalam       2017.0             0       GLOTIP Database
47            Djibouti       2017.0             0       GLOTIP Database
192              Yemen       2013.0             0       GLOTIP Database

                               ATTR_FOOTNOTE_OF_SOURCE ATTR_UNIT_MEASURE  \
0    ['Data in reference to one country but derived...            NUMBER
2    ['Data in reference to one country but derived...            NUMBER
24   ['Data in reference to one country but derived...            NUMBER
47   ['Data in reference to one country but derived...            NUMBER
192  ['Data in reference to one country but derived...            NUMBER

    DIM_AGE_GROUP     DIM_SEX DIM_REP_TYPE COUNTRY_ISO_2 COUNTRY_ISO_3 _merge  \
0        ALL AGES  BOTH_SEXES            G            AF           AFG   both
2        ALL AGES  BOTH_SEXES            G            AD           AND   both
24       ALL AGES  BOTH_SEXES            G            BN           BRN   both
47       ALL AGES  BOTH_SEXES            G            DJ           DJI   both
192      ALL AGES  BOTH_SEXES            G            YE           YEM   both

                      INDICATOR_NAME INDICATOR_INDEX INDICATOR_ISSUE  \
0    Prevalence of human trafficking       Workplace    Child labour
2    Prevalence of human trafficking       Workplace    Child labour
24   Prevalence of human trafficking       Workplace    Child labour
47   Prevalence of human trafficking       Workplace    Child labour
192  Prevalence of human trafficking       Workplace    Child labour

    INDICATOR_CATEGORY  CRBA_RELEASE_YEAR   INDICATOR_CODE
0              Outcome               2020  WP_CL_OC_PRHUTR
2              Outcome               2020  WP_CL_OC_PRHUTR
24             Outcome               2020  WP_CL_OC_PRHUTR
47             Outcome               2020  WP_CL_OC_PRHUTR
192            Outcome               2020  WP_CL_OC_PRHUTR


 - - - - -
 Extracting source S-62

The following columns are present in the datasets, and this is the number of unique values they have.
The column goal has 1 unique values.
The column target has 1 unique values.
The column indicator has 1 unique values.
The column series has 1 unique values.
The column seriesDescription has 1 unique values.
The column seriesCount has 1 unique values.
The column geoAreaCode has 208 unique values.
The column geoAreaName has 208 unique values.
The column timePeriodStart has 29 unique values.
The column value has 86 unique values.
The column valueType has 1 unique values.
The column time_detail has 1 unique values.
The column timeCoverage has 1 unique values.
The column upperBound has 1 unique values.
The column lowerBound has 1 unique values.
The column basePeriod has 1 unique values.
The column source has 1 unique values.
The column geoInfoUrl has 1 unique values.
The column footnotes has 11 unique values.
The column attributes.Nature has 1 unique values.
The column attributes.Units has 1 unique values.
The column dimensions.Reporting Type has 1 unique values.

 - - - - -
 Cleansing source S-62

Cleansing done. There are 195 rows in the dataframe and 15.9% have a NA-value in the column 'OBS_RAW_VALUE
Values of column: DIM_SEX couldn't be mapped. If column DIM_SEX is present, there is an error with the code.
Values of column: DIM_EDU_LEVEL couldn't be mapped. If column DIM_EDU_LEVEL is present, there is an error with the code.
Values of column: DIM_AGE couldn't be mapped. If column DIM_AGE is present, there is an error with the code.
Values of column: DIM_AGE_GROUP couldn't be mapped. If column DIM_AGE_GROUP is present, there is an error with the code.
Values of column: DIM_MANAGEMENT_LEVEL couldn't be mapped. If column DIM_MANAGEMENT_LEVEL is present, there is an error with the code.
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.

 Successfully mapped values of column: DIM_SDG_INDICATOR
Values of column: DIM_SECTOR couldn't be mapped. If column DIM_SECTOR is present, there is an error with the code.
The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 53.75
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.0. This value corresponds to country:     DIM_SDG_INDICATOR                     ATTR_SDG_INDICATOR_DESCRIPTION  \
9                   0  Proportion of population below international p...
10                  0  Proportion of population below international p...
15                  0  Proportion of population below international p...
16                  0  Proportion of population below international p...
21                  0  Proportion of population below international p...
34                  0  Proportion of population below international p...
44                  0  Proportion of population below international p...
45                  0  Proportion of population below international p...
46                  0  Proportion of population below international p...
49                  0  Proportion of population below international p...
55                  0  Proportion of population below international p...
59                  0  Proportion of population below international p...
60                  0  Proportion of population below international p...
64                  0  Proportion of population below international p...
75                  0  Proportion of population below international p...
78                  0  Proportion of population below international p...
80                  0  Proportion of population below international p...
81                  0  Proportion of population below international p...
85                  0  Proportion of population below international p...
86                  0  Proportion of population below international p...
90                  0  Proportion of population below international p...
96                  0  Proportion of population below international p...
102                 0  Proportion of population below international p...
106                 0  Proportion of population below international p...
107                 0  Proportion of population below international p...
109                 0  Proportion of population below international p...
112                 0  Proportion of population below international p...
115                 0  Proportion of population below international p...
125                 0  Proportion of population below international p...
130                 0  Proportion of population below international p...
140                 0  Proportion of population below international p...
141                 0  Proportion of population below international p...
144                 0  Proportion of population below international p...
159                 0  Proportion of population below international p...
168                 0  Proportion of population below international p...
169                 0  Proportion of population below international p...
173                 0  Proportion of population below international p...
178                 0  Proportion of population below international p...
179                 0  Proportion of population below international p...
183                 0  Proportion of population below international p...
184                 0  Proportion of population below international p...
185                 0  Proportion of population below international p...
187                 0  Proportion of population below international p...

                                          COUNTRY_NAME  TIME_PERIOD  \
9                                              Austria       2017.0
10                                          Azerbaijan       2005.0

### Export the combined dataframe from CSV and JSON loop

In [7]:
# # # # # CLEANSED DATA

# Idenify all dimension columns in combined dataframe
available_dim_cols = []
for col in combined_cleansed_csv.columns:
    dim_col = re.findall("DIM_.+", col)
    # print(dim_col)
    if len(dim_col) == 1:
        available_dim_cols += dim_col

# Fill _T for all NA values of dimension columns
# 5b Fill in current year for time variable
combined_cleansed_csv[available_dim_cols] = combined_cleansed_csv[
    available_dim_cols
].fillna(value="_T")

# Export combined cleansed dataframe as a sample
combined_cleansed_csv.to_csv(
    path_or_buf = cwd / 'data_out' / 'combined_cleansed.csv',
    sep = ";"
)

# # # # # NORMALIZED DATA

# Idenify all dimension columns in combined dataframe
available_dim_cols = []
for col in combined_normalized_csv.columns:
    dim_col = re.findall("DIM_.+", col)
    # print(dim_col)
    if len(dim_col) == 1:
        available_dim_cols += dim_col

# Fill _T for all NA values of dimension columns
# 5b Fill in current year for time variable
combined_normalized_csv[available_dim_cols] = combined_normalized_csv[
    available_dim_cols
].fillna(value="_T")

# Export combined cleansed dataframe as a sample
combined_normalized_csv.to_csv(
    path_or_buf = cwd / 'data_out' / 'combined_normalized.csv',
    sep = ";"
)

# DEVELOPMENT AND TRASH AREA

### Develop normaliation for categorical variables

In [ ]:
def normalizer(
    cleansed_data,
    sql_subset_query_string,
    variable_type="Continuous variable",
    is_inverted="not inverted",
    whisker_factor=1.5,
    raw_data_col="RAW_OBS_VALUE",
    scaled_data_col_name="SCALED_OBS_VALUE",
    maximum_score=10,
):
    """Normalize the RAW_OBS_VALUES into indicator scores

    TO DO

    Parameters:
    TO DO
    **dimensions (mapping type): Define the present dimension variables as keys
    along with the dimension value that is supposed to be taken for the normalization.

    """
    if variable_type != "Continuous variable":
        # Build conditions array
        unique_values = cleansed_data[raw_data_col].unique()
        print(unique_values)
        print(type(unique_values))

        conditions = []
        for value in np.sort(unique_values):
            print(value)
            conditions += [cleansed_data[raw_data_col] == value]

        # Assign variable for readability purpose
        length_unique_values = len(np.sort(cleansed_data[raw_data_col].unique()))

        # Build norm values array, where 0 =< norm_values => 10
        norm_values = []
        for value in range(length_unique_values):
            distance = maximum_score / (length_unique_values - 1)
            norm_values += [distance * float(value)]

        # store normalized scores in SCALED_OBS_VALUE
        cleansed_data[scaled_data_col_name] = np.select(conditions, norm_values)


s82_cleansed = pd.read_csv(
    filepath_or_buffer = data_sources_cleansed / "S-182_cleansed.csv",
    sep = ";"
)

In [47]:

s135_cleansed = pd.read_csv(
    filepath_or_buffer = data_sources_cleansed / "S-135_cleansed.csv",
    sep = ";"
)


def dev_normalizer(
    cleansed_data,
    sql_subset_query_string,
    variable_type="Continuous variable",
    is_inverted="not inverted",
    whisker_factor=1.5,
    raw_data_col="RAW_OBS_VALUE",
    contains_zeros=True,
    maximum_score=10
):
    """Normalize the RAW_OBS_VALUES into indicator scores

    TO DO

    Parameters:
    TO DO
    **dimensions (mapping type): Define the present dimension variables as keys
    along with the dimension value that is supposed to be taken for the normalization.

    """
    if variable_type != "Continuous variable":
        # Build conditions array 
        conditions = []

        for value in np.sort(cleansed_data[raw_data_col].unique()):
            conditions += [
                cleansed_data[raw_data_col]
                == value
            ]
        
        # Assign variable for readability purpose
        length_unique_values = len(np.sort(cleansed_data[raw_data_col].unique()))

        # Build norm values array, where 0 =< norm_values => 10
        norm_values = []
        for value in range(length_unique_values):
            distance = (maximum_score / (length_unique_values - 1))
            norm_values +=  [distance * float(value)] 

        # store normalized scores in SCALED_OBS_VALUE
        cleansed_data["SCALED_OBS_VALUE"] = np.select(conditions, norm_values)

        return cleansed_data

s135_normalized = dev_normalizer(
    cleansed_data = s135_cleansed,
    sql_subset_query_string = "somestring",
    variable_type="Some string",
    contains_zeros=True
)

s135_normalized[["SCALED_OBS_VALUE", "RAW_OBS_VALUE"]]

 Categorical variable, still have to develop this section

     SCALED_OBS_VALUE  RAW_OBS_VALUE
0                10.0              2
1                10.0              2
2                10.0              2
3                10.0              2
4                 5.0              1
..                ...            ...
190              10.0              2
191              10.0              2
192               5.0              1
193               5.0              1
194               5.0              1

[195 rows x 2 columns]

In [27]:
test_string = "2 = Max. working days limited to 6 days per week or less, 1 = No limit on working days"

temp_1 = re.split(",", test_string)

empty_list=[]
for element in temp_1:
    empty_list += [re.split("=", element)]
empty_list

raw_values=[]
encodings=[]

for list in range(len(empty_list)):
    raw_values += [empty_list[list][1].rstrip().lstrip()]
    encodings += [empty_list[list][0].rstrip().lstrip()]
raw_values
#encodings

['Max. working days limited to 6 days per week or less',
 'No limit on working days']

In [38]:
def encode_categorical_variables(
    dataframe,
    encoding_string,
    obs_raw_value="OBS_RAW_VALUE",
    sep_character=",",
    assign_character="="
):
    """
    Parameters:
    
    encoding_string(str): String that contains the mapping. Must follow a specific format, which is defined by sep_character and assign_character. With the default values, for example: "2 = Max. working days limited to 6 days per week or less, 1 = No limit on working days"
    """

    # Split string into mapping pairs
    mapping_pairs = re.split(
        sep_character,
        encoding_string     
    )

    # Create nested list with encoded value and original value packed in a sublist
    mapping_pairs_listed = []
    for pair in mapping_pairs:
            mapping_pairs_listed += [re.split(
                assign_character,
                pair
            )]
    
    # Define conditions
    raw_values=[]
    encodings=[]
    
    # Extract raw values and encodings from mapping pairs listed
    for mapping_sublist in range(len(mapping_pairs_listed)):
            raw_values += [
                dataframe[obs_raw_value]
                == mapping_pairs_listed[mapping_sublist][1].rstrip().lstrip()]
            encodings += [mapping_pairs_listed[mapping_sublist][0].rstrip().lstrip()]

    dataframe[obs_raw_value] = np.select(
        condlist=raw_values,
        choicelist=encodings,
        default="VALUE WITHOUT MAPPING - PLEASE MAP"
    )

    # create attr_encoding_raw_values
    dataframe["ATTR_ENCODING_LABELS"] = encoding_string

    return dataframe


s82_raw = pd.read_csv(
    filepath_or_buffer = data_sources_raw / "S-82_raw.csv",
    sep = ";"
)


s82_encoded = encode_categorical_variables(
    dataframe = s82_raw,
    encoding_string = "3=Larger scale, 2=Limited, 1=None, 0=No data, 0=Don't Know",
    obs_raw_value="Display Value",
    sep_character=",",
    assign_character="="
)

s82_encoded["Display Value"].unique()

array(['2', '3', '1'], dtype=object)

In [ ]:
cleansed_data["RAW_OBS_VALUE_ENCODED"] = np.select(conditions, norm_values)

## integrate query rather than eval() in the function

In [19]:
s103_cleansed = pd.read_csv(
    filepath_or_buffer = data_sources_cleansed / "S-103_cleansed.csv",
    sep = ";"
)

s103_cleansed.query("DIM_SEX == 'BOTH_SEXES' & DIM_AGE_GROUP == '5-19 YEARS'")

,Unnamed: 0,TIME_PERIOD,COUNTRY_ISO_3,DIM_AGE_GROUP,DIM_SEX,RAW_OBS_VALUE,ATTR_SOURCE_COMMENTS,_merge,INDICATOR_NAME,INDICATOR_INDEX,INDICATOR_ISSUE,INDICATOR_CATEGORY,CRBA_RELEASE_YEAR,INDICATOR_CODE
0,0,2016.0,AFG,5-19 YEARS,BOTH_SEXES,9.4,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO
17,17,2016.0,ALB,5-19 YEARS,BOTH_SEXES,25.0,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO
18,18,2016.0,AND,5-19 YEARS,BOTH_SEXES,35.8,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO
27,27,2016.0,DZA,5-19 YEARS,BOTH_SEXES,31.0,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO
36,36,2016.0,AGO,5-19 YEARS,BOTH_SEXES,11.0,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1686,2016.0,VEN,5-19 YEARS,BOTH_SEXES,34.1,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO
1695,1695,2016.0,VNM,5-19 YEARS,BOTH_SEXES,9.7,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO
1704,1704,2016.0,YEM,5-19 YEARS,BOTH_SEXES,20.0,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO
1713,1713,2016.0,ZMB,5-19 YEARS,BOTH_SEXES,12.7,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO
1722,1722,2016.0,ZWE,5-19 YEARS,BOTH_SEXES,14.5,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO

In [28]:
def normalizer(
    cleansed_data,
    sql_subset_query_string,
    variable_type="Continuous variable",
    is_inverted="not inverted",
    whisker_factor=1.5,
    raw_data_col="RAW_OBS_VALUE",
):
    """Normalize the RAW_OBS_VALUES into indicator scores

    TO DO

    Parameters:
    TO DO
    **dimensions (mapping type): Define the present dimension variables as keys
    along with the dimension value that is supposed to be taken for the normalization.

    """

    # Define the dimension subgroup for which normalization is done:
    # normalization_subset = cleansed_data

    # Empty string which will be filled with subset conditions
    # subset = ""

    # Run loop to get dimensions vaues specified in **dimensions
    # for key in dimensions:
    #    subset += "(cleansed_data['{}'] == '{}')&".format(key, dimensions[key])

    # Get rid of the "&-sign" at the end
    # subset = subset.rstrip("& ")

    # Subset the actual dataframe
    #print(sql_subset_query_string)
    cleansed_data_subset = cleansed_data.query(sql_subset_query_string)
    #print(cleansed_data.query('{}'.format(sql_subset_query_string)))

    if variable_type != "Continuous variable":
        print("\n Categorical variable, still have to develop this section")

    elif variable_type == "Continuous variable":

        # Determine basic descriptive statistics of the distribution that are required for the normalization
        min_val = np.nanmin(cleansed_data_subset[raw_data_col].astype("float"))
        max_val = np.nanmax(cleansed_data_subset[raw_data_col].astype("float"))
        q1 = cleansed_data_subset[raw_data_col].astype("float").quantile(q=0.25)
        q2 = cleansed_data_subset[raw_data_col].astype("float").quantile(q=0.50)
        q3 = cleansed_data_subset[raw_data_col].astype("float").quantile(q=0.75)
        iqr = q3 - q1

        # Define what max value to use for the normalization
        if max_val > q3 + whisker_factor * iqr:
            max_to_use = q3 + whisker_factor * iqr
            print(
                "The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + {} * IQR. It is: {} \n See histogram printed below for info. \n".format(
                    whisker_factor, max_to_use
                )
            )
        else:
            max_to_use = max_val
            print(
                "The distribution of the raw data for this subgroup does not contain outliers on the upper end. It is also not too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is {}. This value corresponds to country: {} \n".format(
                    max_to_use,
                    cleansed_data_subset[
                        cleansed_data_subset[raw_data_col].astype("float") == max_val
                    ],
                )
            )

        # Define what min value to use for the normalization
        if min_val < q1 - whisker_factor * iqr:
            min_to_use = q1 - whisker_factor * iqr
            print(
                "The distribution of the raw data values for this subgroup contains outliers or is too skewed on the lower end. The minimum value to be used for the normalisation is 1st quartile or distribution - {} * IQR. It is: {} \n See histogram printed below for info. \n".format(
                    whisker_factor, min_to_use
                )
            )
        else:
            min_to_use = min_val
            print(
                "The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is {}. This value corresponds to country: {} \n".format(
                    min_to_use,
                    cleansed_data_subset[
                        cleansed_data_subset[raw_data_col].astype("float") == min_val
                    ],
                )
            )

        """
        # If there are outliers or a skewed distribution, print the distribution for the user.
        if (min_val < q1 - whisker_factor * iqr) or (
            max_val > q3 + whisker_factor * iqr
        ):
            print(
                "\n This is the distribution of the raw data of the indicator."
            )
            print(
                pd.to_numeric(s55_cleansed["RAW_OBS_VALUE"]).hist(
                    bins=30
                )
            )"""

        # Define the value range that is used for the scaling (normalization)
        tot_range = max_val - min_val

        # Compute the normalized value of the raw data in the column "SCALED"
        # Distinguish between indicators, whose value must be inverted
        if is_inverted == "inverted":
            cleansed_data_subset["SCALED_OBS_VALUE"] = round(
                10
                - 10
                * (cleansed_data_subset[raw_data_col].astype("float") - min_val)
                / tot_range,
                2,
            )
        else:
            cleansed_data_subset["SCALED_OBS_VALUE"] = round(
                10
                * (cleansed_data_subset[raw_data_col].astype("float") - min_val)
                / tot_range,
                2,
            )

    # join normalized data to original dataframe
    cleansed_data = cleansed_data.merge(right=cleansed_data_subset, how="outer")

    # cleansed_data = pd.concat([cleansed_data, cleansed_data_subset], axis=1, copy = False)

    # insert column to indicate OBS status
    result = cleansed_data.assign(
        OBS_STATUS=np.where(cleansed_data["SCALED_OBS_VALUE"].isnull(), np.nan, "O")
    )

    # Return result
    return result

s103_normalized = normalizer(
    cleansed_data = s103_cleansed,
    sql_subset_query_string="DIM_SEX=='BOTH_SEXES' & DIM_AGE_GROUP=='5-19 YEARS'"
)

s103_normalized

The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 56.437499999999986
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 6.8. This value corresponds to country:      Unnamed: 0  TIME_PERIOD COUNTRY_ISO_3 DIM_AGE_GROUP     DIM_SEX  \
684         684       2016.0           IND    5-19 YEARS  BOTH_SEXES

     RAW_OBS_VALUE ATTR_SOURCE_COMMENTS _merge  \
684            6.8                  NaN   both

                              INDICATOR_NAME INDICATOR_INDEX  \
684  Older children and teenagers overweight     Marketplace

               INDICATOR_ISSUE INDICATOR_CATEGORY  CRBA_RELEASE_YEAR  \
684  Marketing and Advertising            Outcome               2020

      INDICATOR_CODE
684  MP_MA_OC_OLCHTO

,Unnamed: 0,TIME_PERIOD,COUNTRY_ISO_3,DIM_AGE_GROUP,DIM_SEX,RAW_OBS_VALUE,ATTR_SOURCE_COMMENTS,_merge,INDICATOR_NAME,INDICATOR_INDEX,INDICATOR_ISSUE,INDICATOR_CATEGORY,CRBA_RELEASE_YEAR,INDICATOR_CODE,SCALED_OBS_VALUE,OBS_STATUS
0,0,2016.0,AFG,5-19 YEARS,BOTH_SEXES,9.4,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO,0.45,O
1,1,2016.0,AFG,5-09 YEARS,BOTH_SEXES,10.6,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO,NaN,nan
2,2,2016.0,AFG,10-19 YEARS,BOTH_SEXES,8.8,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO,NaN,nan
3,3,2016.0,AFG,5-19 YEARS,FEMALE,9.9,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO,NaN,nan
4,4,2016.0,AFG,5-09 YEARS,FEMALE,10.7,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO,NaN,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1726,1726,2016.0,ZWE,5-09 YEARS,FEMALE,23.6,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO,NaN,nan
1727,1727,2016.0,ZWE,10-19 YEARS,FEMALE,21.7,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO,NaN,nan
1728,1728,2016.0,ZWE,5-19 YEARS,MALE,6.6,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO,NaN,nan
1729,1729,2016.0,ZWE,5-09 YEARS,MALE,7.5,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO,NaN,nan
1730,1730,2016.0,ZWE,10-19 YEARS,MALE,6.1,NaN,both,Older children and teenagers overweight,Marketplace,Marketing and Advertising,Outcome,2020,MP_MA_OC_OLCHTO,NaN,nan

In [10]:
s82_raw = pd.read_csv(
    filepath_or_buffer = data_sources_raw / "S-82_raw.csv",
    sep = ";"
)

if "Display Value" in s82_raw.columns:
    s82_raw["Display Value"] = s82_raw["Display Value"].astype(str)
    s82_raw["Display Value"] = s82_raw["Display Value"].apply(
            lambda x: re.sub(" \[.*\]", "", x)
    )

"""
s82_cleansed = cleanse.Cleanser().cleanse(
    raw_data = s82_raw,
    mapping_dictionary = mapping_dict,
    final_sdmx_col_list = sdmx_df_columns_all,
    dim_cols = sdmx_df_columns_dims,
    country_cols = sdmx_df_columns_country,
    time_cols = sdmx_df_columns_time,
    country_list_full = country_full_list,
    crba_country_list = country_crba_list
    )
"""


s82_raw

,Unnamed: 0,GHO,PUBLISHSTATE,YEAR,REGION,COUNTRY,Display Value,Numeric,Low,High,Comments
0,0,VIOLENCE_EXTENTIMP_CHILDPROTECTION,PUBLISHED,2012-2014,EMR,OMN,Limited,NaN,NaN,NaN,NaN
1,1,VIOLENCE_EXTENTIMP_CHILDPROTECTION,PUBLISHED,2012-2014,AMR,PER,Larger scale,NaN,NaN,NaN,NaN
2,2,VIOLENCE_EXTENTIMP_CHILDPROTECTION,PUBLISHED,2012-2014,EUR,PRT,Larger scale,NaN,NaN,NaN,NaN
3,3,VIOLENCE_EXTENTIMP_CHILDPROTECTION,PUBLISHED,2012-2014,EUR,ROU,Larger scale,NaN,NaN,NaN,NaN
4,4,VIOLENCE_EXTENTIMP_CHILDPROTECTION,PUBLISHED,2012-2014,WPR,WSM,Larger scale,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
127,127,VIOLENCE_EXTENTIMP_CHILDPROTECTION,PUBLISHED,2012-2014,AFR,BDI,Limited,NaN,NaN,NaN,NaN
128,128,VIOLENCE_EXTENTIMP_CHILDPROTECTION,PUBLISHED,2012-2014,AFR,BWA,Limited,NaN,NaN,NaN,NaN
129,129,VIOLENCE_EXTENTIMP_CHILDPROTECTION,PUBLISHED,2012-2014,AMR,BOL,Limited,NaN,NaN,NaN,NaN
130,130,VIOLENCE_EXTENTIMP_CHILDPROTECTION,PUBLISHED,2012-2014,EUR,BLR,Larger scale,NaN,NaN,NaN,NaN
131,131,VIOLENCE_EXTENTIMP_CHILDPROTECTION,PUBLISHED,2012-2014,AFR,ZWE,Limited,NaN,NaN,NaN,NaN

In [60]:
s88_cleansed = pd.read_csv(
    filepath_or_buffer = data_sources_cleansed / "S-88_cleansed.csv",
    sep = ";"
)

norm_values = ["No", "Yes", "No data"]
contains_zeros = False

conditions = [
    (s88_cleansed["RAW_OBS_VALUE"] == index)
    for index, value in enumerate(norm_values, start=0 if contains_zeros else 1)
]

# s88_cleansed["RAW_OBS_VALUE"] == index
# print(index)

# conditions.size_of

conditions = 

--> Get unique values (not necessary, just do manually and then insert it)
--> Then do a mapping ("No" = 0, "Yes" = 1) --> This must be indicator specific --> CLEANSER, INFO FOR THAT IN THE data dictionary --> Create two columns "RAW_VALUES" and "ENCODEDE VALUES"
--> Then convert these into scores --> SCLAER (Global and )

In [62]:
# dir(conditions)
#conditions.size_of()
# conditions[1].sum()
enumerate(norm_values, start=0 if contains_zeros else 1)[0]

TypeError: 'enumerate' object is not subscriptable

In [24]:


"""
conditions = [
    (cleansed_data[indicator_raw_value] == index)
    for index, value in enumerate(norm_values, start=0 if contains_zeros else 1)
]

# create a new column and assign values to it using our lists
cleansed_data["SCALED"] = np.select(conditions, norm_values)

# Right join country list
cleansed_data_full = cleansed_data.merge(
    right=crba_final_country_list,
    how="right",
    left_on=cleansed_df_iso2_col,
    right_on=crba_final_country_list_iso_col,
    indicator="RJ_CRBA_FULL_LIST",
)
"""

'\nconditions = [\n    (cleansed_data[indicator_raw_value] == index)\n    for index, value in enumerate(norm_values, start=0 if contains_zeros else 1)\n]\n\n# create a new column and assign values to it using our lists\ncleansed_data["SCALED"] = np.select(conditions, norm_values)\n\n# Right join country list\ncleansed_data_full = cleansed_data.merge(\n    right=crba_final_country_list,\n    how="right",\n    left_on=cleansed_df_iso2_col,\n    right_on=crba_final_country_list_iso_col,\n    indicator="RJ_CRBA_FULL_LIST",\n)\n'

In [47]:
def test_func(**kwargs):
    for key in kwargs:
        print(key, kwargs[key])

test_func(a="Real", b="Python", c="Is", d="Great", e="!")

a Real
b Python
c Is
d Great
e !

In [67]:
# s55_cleansed.SCALED_OBS_VALUE.describe()

# s55_cleansed[s55_cleansed.SCALED_OBS_VALUE > 9.2][["COUNTRY_ISO_2", "RAW_OBS_VALUE", "SCALED_OBS_VALUE"]]

### Develop normalier function

In [107]:
# # # # # # # # # 

s103_cleansed = pd.read_csv(
    filepath_or_buffer = data_sources_cleansed / "S-103_cleansed.csv",
    sep = ";"
)

print(s103_cleansed["RAW_OBS_VALUE"][10])
print(s103_cleansed["RAW_OBS_VALUE"].isnull().sum())



# print(s103_cleansed["RAW_OBS_VALUE"].dtypes== object) 

if s103_cleansed["RAW_OBS_VALUE"].dtypes== object:
    #s103_cleansed = s103_cleansed[s103_cleansed["RAW_OBS_VALUE"].dropna()]
    s103_cleansed["RAW_OBS_VALUE"] = s103_cleansed["RAW_OBS_VALUE"].astype(str)
    s103_cleansed["RAW_OBS_VALUE"] = pd.to_numeric(s103_cleansed["RAW_OBS_VALUE"].apply(
          lambda x: re.sub(
                "No data", "", re.sub(
                         " \[.*\]", '', x
                    ))),
            errors = "coerce"
    )  

    # s103_cleansed = s103_cleansed["RAW_OBS_VALUE"].apply(
    #      lambda x: re.sub(
    #         " \[.*\]", "", re.sub(
    #            "No data", None, x))) 

s103_cleansed["RAW_OBS_VALUE"].describe()

23.8 [18.1-29.9]
3

count    1692.000000
mean       24.318617
std        11.999569
min         4.300000
25%        14.800000
50%        24.800000
75%        31.225000
max        70.400000
Name: RAW_OBS_VALUE, dtype: float64

In [82]:


s55_cleansed = pd.read_csv(
    filepath_or_buffer = data_sources_cleansed / "S-55_cleansed.csv",
    sep = ";"
)

def normalizer(
    cleansed_data,
    cat_var = False,
    inverted = False,
    whisker_factor = 1.5,
    raw_data_col = "RAW_OBS_VALUE",
    **dimensions
):
    """Normalize the RAW_OBS_VALUES into indicator scores

    TO DO

    Parameters: 
    TO DO
    **dimensions (mapping type): Define the present dimension variables as keys
    along with the dimension value that is supposed to be taken for the normalization.

    """

    # Define the dimension subgroup for which normalization is done:
    # normalization_subset = cleansed_data

    # Empty string which will be filled with subset conditions
    subset = ""

    # Run loop to get dimensions vaues specified in **dimensions
    for key in dimensions:
        subset += "(cleansed_data['{}'] == '{}')&".format(
            key,
            dimensions[key]
        )
    
    # Get rid of the "&-sign" at the end
    subset = subset.rstrip("& ")

    # Subset the actual dataframe
    cleansed_data_subset = cleansed_data[eval(subset)]

    if cat_var == False: 
        # Determine basic descriptive statistics of the distribution that are required for the normalization
        min_val = np.nanmin(
            cleansed_data_subset[raw_data_col].astype("float")
        )
        max_val = np.nanmax(
            cleansed_data_subset[raw_data_col].astype("float")
        )
        q1 = (
            cleansed_data_subset[raw_data_col]
            .astype("float")
            .quantile(q=0.25)
        )
        q2 = (
            cleansed_data_subset[raw_data_col]
            .astype("float")
            .quantile(q=0.50)
        )
        q3 = (
            cleansed_data_subset[raw_data_col]
            .astype("float")
            .quantile(q=0.75)
        )
        iqr = q3 - q1

        # Define what max value to use for the normalization
        if max_val > q3 + whisker_factor * iqr:
            max_to_use = q3 + whisker_factor * iqr
            print(
                "The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + {} * IQR. It is: {} \n See histogram printed below for info. \n".format(
                    whisker_factor, max_to_use
                )
            )
        else:
            max_to_use = max_val
            print(
                "The distribution of the raw data for this subgroup does not contain outliers on the upper end. It is also not too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is {}. This value corresponds to country: {} \n".format(
                    max_to_use,
                    cleansed_data_subset[
                        cleansed_data_subset[raw_data_col].astype("float")
                        == max_val
                    ],
                )
            )

        # Define what min value to use for the normalization
        if min_val < q1 - whisker_factor * iqr:
            min_to_use = q1 - whisker_factor * iqr
            print(
                "The distribution of the raw data values for this subgroup contains outliers or is too skewed on the lower end. The minimum value to be used for the normalisation is 1st quartile or distribution - {} * IQR. It is: {} \n See histogram printed below for info. \n".format(
                    whisker_factor, min_to_use
                )
            )
        else:
            min_to_use = min_val
            print(
                "The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is {}. This value corresponds to country: {} \n".format(
                    min_to_use,
                    cleansed_data_subset[
                        cleansed_data_subset[raw_data_col].astype("float")
                        == min_val
                    ],
                )
            )

        """
        # If there are outliers or a skewed distribution, print the distribution for the user.
        if (min_val < q1 - whisker_factor * iqr) or (
            max_val > q3 + whisker_factor * iqr
        ):
            print(
                "\n This is the distribution of the raw data of the indicator."
            )
            print(
                pd.to_numeric(s55_cleansed["RAW_OBS_VALUE"]).hist(
                    bins=30
                )
            )"""

        # Define the value range that is used for the scaling (normalization)
        tot_range = max_val - min_val

        # Compute the normalized value of the raw data in the column "SCALED"
        # Distinguish between indicators, whose value must be inverted
        if inverted == True:
            cleansed_data_subset["SCALED_OBS_VALUE"] = round(
                10
                - 10
                * (
                    cleansed_data_subset[raw_data_col].astype("float")
                    - min_val
                )
                / tot_range,
                2,
            )
        else:
            cleansed_data_subset["SCALED_OBS_VALUE"] = round(
                10
                * (
                    cleansed_data_subset[raw_data_col].astype("float")
                    - min_val
                )
                / tot_range,
                2,
            )
    
    # join normalized data to original dataframe
    cleansed_data = cleansed_data.merge(
        right=cleansed_data_subset,
        how="outer"
    )
    

    # cleansed_data = pd.concat([cleansed_data, cleansed_data_subset], axis=1, copy = False)

    # insert column to indicate OBS status
    result = cleansed_data.assign(
        OBS_STATUS=np.where(
            cleansed_data["SCALED_OBS_VALUE"].isnull(), np.nan, "O"
        ))

    # Return result
    return result

s55_normalized = normalizer(
    cleansed_data=s55_cleansed,
    DIM_SEX = "BOTH_SEXES",
    DIM_EDU_LEVEL = "LOWER SECONDARY EDUCATION",
    DIM_AGE = "SCHOOL_AGE_POPULATION"
)

print(s55_cleansed.shape)
print(s55_normalized.shape)
print(s55_normalized.columns)
s55_normalized

SyntaxError: invalid syntax (<ipython-input-82-6e04ca9c2250>, line 170)

In [31]:
s55_cleansed = pd.read_csv(
    filepath_or_buffer = data_sources_cleansed / "S-55_cleansed.csv",
    sep = ";"
)

s55_cleansed_scaler = s55_cleansed[(s55_cleansed.DIM_EDU_LEVEL == "LOWER SECONDARY EDUCATION") &
    (s55_cleansed.DIM_AGE == "SCHOOL_AGE_POPULATION") &
    (s55_cleansed.DIM_SEX == "BOTH_SEXES")]

whisker_factor = 1.5
inverted = True
numeric 

# iii) Determine basic descriptive statistics of the distribution that are required for the normalization
min_val = np.nanmin(
    s55_cleansed["RAW_OBS_VALUE"].astype("float")
)
max_val = np.nanmax(
    s55_cleansed["RAW_OBS_VALUE"].astype("float")
)
q1 = (
    s55_cleansed["RAW_OBS_VALUE"]
    .astype("float")
    .quantile(q=0.25)
)
q2 = (
    s55_cleansed["RAW_OBS_VALUE"]
    .astype("float")
    .quantile(q=0.50)
)
q3 = (
    s55_cleansed["RAW_OBS_VALUE"]
    .astype("float")
    .quantile(q=0.75)
)
iqr = q3 - q1

# Define what max value to use for the normalization
if max_val > q3 + whisker_factor * iqr:
    max_to_use = q3 + whisker_factor * iqr
    print(
        "The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + {} * IQR. It is: {} \n See histogram printed below for info. \n".format(
            whisker_factor, max_to_use
        )
    )
else:
    max_to_use = max_val
    """
    print(
        "The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is {}. This value corresponds to country: {} \n".format(
            max_to_use,
            s55_cleansed[
                s55_cleansed["RAW_OBS_VALUE"].astype("float")
                == max_val
            ].COUNTRY_NAME,
        )
    )"""

# Define what min value to use for the normalization
if min_val < q1 - whisker_factor * iqr:
    min_to_use = q1 - whisker_factor * iqr
    print(
        "The distribution of the raw data values for this subgroup contains outliers or is too skewed on the lower end. The minimum value to be used for the normalisation is 1st quartile or distribution - {} * IQR. It is: {} \n See histogram printed below for info. \n".format(
            whisker_factor, min_to_use
        )
    )
else:
    min_to_use = min_val
    """
    print(
        "The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is {}. This value corresponds to country: {} \n".format(
            min_to_use,
            cleansed_data[
                cleansed_data[indicator_raw_value].astype("float")
                == min_val
            ].COUNTRY_NAME,
        )
    )

# If there are outliers or a skewed distribution, print the distribution for the user.
if (min_val < q1 - whisker_factor * iqr) or (
    max_val > q3 + whisker_factor * iqr
):
    print(
        "\n This is the distribution of the raw data of the indicator."
    )
    print(
        pd.to_numeric(s55_cleansed["RAW_OBS_VALUE"]).hist(
            bins=30
        )
    )"""

# Define the value range that is used for the scaling (normalization)
tot_range = max_val - min_val

# Compute the normalized value of the raw data in the column "SCALED"
# Distinguish between indicators, whose value must be inverted
if inverted == True:
    s55_cleansed["SCALED_OBS_VALUE"] = round(
        10
        - 10
        * (
            s55_cleansed["RAW_OBS_VALUE"].astype("float")
            - min_val
        )
        / tot_range,
        2,
    )
else:
    s55_cleansed["SCALED_OBS_VALUE"] = round(
        10
        * (
            s55_cleansed["RAW_OBS_VALUE"].astype("float")
            - min_val
        )
        / tot_range,
        2,
    )

"""

# iv) Append the subset including its scaled value to the final returned dataframe
# Right join to have all countries from the final crba master list
# cleansed_data_subset_rj = cleansed_data_subset.merge(
#     right=crba_final_country_list,
#     how="right",
#    left_on=cleansed_df_iso2_col,
#    right_on=crba_final_country_list_iso_col,
#    indicator="RJ_CRBA_FULL_LIST",
#)

# Append the values
# cleansed_data_full = cleansed_data_full.append(cleansed_data_subset_rj)


# For debugging, include
print(
    "\n The shape of the dataframe should be 195 x X. It is:  {} \n ".format(
        cleansed_data_subset_rj.shape
    )
)


except:
print("Dataframe is empty. There are no values to append.")

# Log: print information that this loop run is terminated
print(" \n This is the end of loop #{}. \n - \n ".format(j + 1))

# Sanity Check: The resulting dataframe should always have 195 rows. NB: if you put the line of code before the above "Append the values" bit, Python throws and error
assert (
pd.to_numeric(cleansed_data_full.shape[0]) % 195 == 0
), "Number of rows should be a multiple of 195, but it is not. Check if all columns which should be part of the group by statement are listed"
print(
"The number of rows of the final dataframe (before the conversion from wide to long format is) is divisible by 195. It is: {}".format(
cleansed_data_full.shape
)
)

"""

The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 32.41972750000001
 See histogram printed below for info.

'\n\n# iv) Append the subset including its scaled value to the final returned dataframe\n# Right join to have all countries from the final crba master list\n# cleansed_data_subset_rj = cleansed_data_subset.merge(\n#     right=crba_final_country_list,\n#     how="right",\n#    left_on=cleansed_df_iso2_col,\n#    right_on=crba_final_country_list_iso_col,\n#    indicator="RJ_CRBA_FULL_LIST",\n#)\n\n# Append the values\n# cleansed_data_full = cleansed_data_full.append(cleansed_data_subset_rj)\n\n\n# For debugging, include\nprint(\n    "\n The shape of the dataframe should be 195 x X. It is:  {} \n ".format(\n        cleansed_data_subset_rj.shape\n    )\n)\n\n\nexcept:\nprint("Dataframe is empty. There are no values to append.")\n\n# Log: print information that this loop run is terminated\nprint(" \n This is the end of loop #{}. \n - \n ".format(j + 1))\n\n# Sanity Check: The resulting dataframe should always have 195 rows. NB: if you put the line of code before the above "Append the values" bit, Python throws and error\nassert (\npd.to_numeric(cleansed_data_full.shape[0]) % 195 == 0\n), "Number of rows should be a multiple of 195, but it is not. Check if all columns which should be part of the group by statement are listed"\nprint(\n"The number of rows of the final dataframe (before the conversion from wide to long format is) is divisible by 195. It is: {}".format(\ncleansed_data_full.shape\n)\n)\n\n'

In [42]:
# s55_cleansed.DIM_SEX.unique()

# s55_cleansed.DIM_AGE.unique()

# s55_cleansed[(s55_cleansed.DIM_EDU_LEVEL == "LOWER SECONDARY EDUCATION") &
    #  (s55_cleansed.DIM_AGE == "SCHOOL_AGE_POPULATION") &
    # (s55_cleansed.DIM_SEX == "BOTH_SEXES")
# ]

s55_cleansed

,Unnamed: 0,ATTR_UNIT_MEASURE,DIM_EDU_LEVEL,DIM_SEX,DIM_AGE,COUNTRY_ISO_2,TIME_PERIOD,RAW_OBS_VALUE,ATTR_SOURCE_OBS_STATUS,_merge,INDICATOR_NAME,INDICATOR_INDEX,INDICATOR_ISSUE,INDICATOR_CATEGORY,CRBA_RELEASE_YEAR,INDICATOR_CODE,SCALED_OBS_VALUE
1,1,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AL,2018.0,3.05680,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS,9.53
7,7,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AG,2018.0,1.43781,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS,9.78
10,10,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AR,2017.0,0.00779,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS,10.00
11,11,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AM,2018.0,8.21479,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS,8.74
14,14,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AU,2017.0,1.88277,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS,9.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,365,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,GB,2017.0,0.12779,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS,9.98
366,366,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,US,2017.0,0.22621,E,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS,9.97
367,367,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,UY,2017.0,0.26134,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS,9.96
368,368,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,UZ,2018.0,3.66859,E,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS,9.44
372,372,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,VE,2017.0,14.07770,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS,7.83

In [50]:
s55_cleansed = pd.read_csv(
    filepath_or_buffer = data_sources_cleansed / "S-55_cleansed.csv",
    sep = ";"
)
s55_cleansed

,Unnamed: 0,ATTR_UNIT_MEASURE,DIM_EDU_LEVEL,DIM_SEX,DIM_AGE,COUNTRY_ISO_2,TIME_PERIOD,RAW_OBS_VALUE,ATTR_SOURCE_OBS_STATUS,_merge,INDICATOR_NAME,INDICATOR_INDEX,INDICATOR_ISSUE,INDICATOR_CATEGORY,CRBA_RELEASE_YEAR,INDICATOR_CODE
0,0,NaN,0,BOTH_SEXES,_T,AF,2020.0,NaN,NaN,right_only,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
1,1,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AL,2018.0,3.05680,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
2,2,PT,LOWER SECONDARY EDUCATION,FEMALE,SCHOOL_AGE_POPULATION,AL,2018.0,0.55400,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
3,3,PT,LOWER SECONDARY EDUCATION,MALE,SCHOOL_AGE_POPULATION,AL,2018.0,5.22058,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
4,4,NaN,0,BOTH_SEXES,_T,AD,2020.0,NaN,NaN,right_only,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,374,PT,LOWER SECONDARY EDUCATION,MALE,SCHOOL_AGE_POPULATION,VE,2017.0,14.91150,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
375,375,NaN,0,BOTH_SEXES,_T,VN,2020.0,NaN,NaN,right_only,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
376,376,NaN,0,BOTH_SEXES,_T,YE,2020.0,NaN,NaN,right_only,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
377,377,NaN,0,BOTH_SEXES,_T,ZM,2020.0,NaN,NaN,right_only,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
378,378,NaN,0,BOTH_SEXES,_T,ZW,2020.0,NaN,NaN,right_only,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS

In [62]:
def subset_creator(
    cleansed_data,
    **dimensions
):
    # Empty string which will be filled with subset conditions
    subset = ""

    # Run loop to get dimensions vaues specified in **dimensions
    for key in dimensions:
        subset += "(cleansed_data['{}'] == '{}')&".format(
            key,
            dimensions[key]
        )
    
    # Get rid of the "&-sign" at the end
    subset = subset.rstrip("& ")

    # Just for dev:
    print(subset)

    # Subset
    cleansed_data_subset = cleansed_data[eval(subset)]

    # 
    # print(cleansed_data_subset)

    # Return cleansed data
    return cleansed_data_subset


s55_cleansed = pd.read_csv(
    filepath_or_buffer = data_sources_cleansed / "S-55_cleansed.csv",
    sep = ";"
)

s55_subset = subset_creator(
    cleansed_data = s55_cleansed,
    DIM_SEX = "BOTH_SEXES",
    DIM_EDU_LEVEL = "LOWER SECONDARY EDUCATION",
    DIM_AGE = "SCHOOL_AGE_POPULATION"
)

s55_subset

(cleansed_data['DIM_SEX'] == 'BOTH_SEXES')&(cleansed_data['DIM_EDU_LEVEL'] == 'LOWER SECONDARY EDUCATION')&(cleansed_data['DIM_AGE'] == 'SCHOOL_AGE_POPULATION')

,Unnamed: 0,ATTR_UNIT_MEASURE,DIM_EDU_LEVEL,DIM_SEX,DIM_AGE,COUNTRY_ISO_2,TIME_PERIOD,RAW_OBS_VALUE,ATTR_SOURCE_OBS_STATUS,_merge,INDICATOR_NAME,INDICATOR_INDEX,INDICATOR_ISSUE,INDICATOR_CATEGORY,CRBA_RELEASE_YEAR,INDICATOR_CODE
1,1,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AL,2018.0,3.05680,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
7,7,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AG,2018.0,1.43781,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
10,10,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AR,2017.0,0.00779,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
11,11,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AM,2018.0,8.21479,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
14,14,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,AU,2017.0,1.88277,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,365,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,GB,2017.0,0.12779,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
366,366,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,US,2017.0,0.22621,E,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
367,367,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,UY,2017.0,0.26134,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
368,368,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,UZ,2018.0,3.66859,E,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
372,372,PT,LOWER SECONDARY EDUCATION,BOTH_SEXES,SCHOOL_AGE_POPULATION,VE,2017.0,14.07770,A,both,Freedom of association.,Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS

In [9]:
# 

def map_values(
    dataframe,
    value_mapping_dict
):

    for key in value_mapping_dict:
        # try:
        # Define emtpy lists to be mapped to each other
        original_values = []
        mapped_values = []

        # Loop obtain all possible original/ mapped value variations mappings
        for sub_key in value_mapper[key]:
            original_values += value_mapping_dict[key][sub_key]
            mapped_values += len(value_mapping_dict[key][sub_key]) * [sub_key]
        
        print(original_values)
        print(mapped_values)

        # Convert the values
        dataframe[key] = np.select(
            original_values, mapped_values
        )
    
        # log info for user
        print("Successfully mapped value of column: {}".format(
            key
        ))
        #except:
        #    print("The following dimension is not present in the raw dataframe {}. There are thus no values to be mapped.".format(
        #        key
        #    ))
    
    return dataframe

In [24]:

s55_raw["REF_AREA"].apply(lambda x: len(str(x))).quantile(q=0.25)

2.0

In [14]:
# Extract data
from statistics import median, mean

s55_raw = extract.CSVExtractor.extract(url =
    'https://api.uis.unesco.org/sdmx/data/UNESCO,SDG4,2.0/ROFST.PT.L2+L2_3+L3._T._T+F+M.SCH_AGE_GROUP._T.INST_T._Z._T._Z._Z._Z._T._T._Z._Z._Z.?startPeriod=2005&endPeriod=2018&format=csv-sdmx&locale=en&subscription-key=460ab272abdd43c892bb59c218c22c09'
)

lenght = s55_raw["REF_AREA"].apply(lambda x: len(x))

# s55_raw.to_csv(data_sources_raw / "S_55_raw.csv")

The following columns are present in the datasets, and this is the number of unique values they have.
The column Dataflow has 1 unique values.
The column STAT_UNIT has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column EDU_LEVEL has 3 unique values.
The column EDU_CAT has 1 unique values.
The column SEX has 3 unique values.
The column AGE has 1 unique values.
The column GRADE has 1 unique values.
The column SECTOR_EDU has 1 unique values.
The column EDU_ATTAIN has 1 unique values.
The column SUBJECT has 1 unique values.
The column WEALTH_QUINTILE has 1 unique values.
The column INFRASTR has 1 unique values.
The column LOCATION has 1 unique values.
The column EDU_TYPE has 1 unique values.
The column SE_BKGRD has 1 unique values.
The column SOURCE_FUND has 1 unique values.
The column FUND_FLOW has 1 unique values.
The column IMM_STATUS has 1 unique values.
The column REF_AREA has 326 unique values.
The column TIME_PERIOD has 14 unique values.
The column OBS_VALUE has 26627 unique values.
The column UNIT_MULT has 1 unique values.
The column OBS_STATUS has 3 unique values.
The column FREQ has 1 unique values.
The column DECIMALS has 1 unique values.

TypeError: object of type 'float' has no len()

# Cleansing


< STOPPED HERE , the below code runs (but have to define tha mapping_dict first) --> Next step is to Bring this thing into a loop and take care of the exceptions

In [11]:
s98_raw = pd.read_csv(
    filepath_or_buffer = data_sources_raw / "S-98_raw.csv"
)

s98_cleansed = cleanse.Cleanser().cleanse(
    raw_data = s98_raw,
    mapping_dictionary = mapping_dict,
    final_sdmx_col_list = sdmx_df_columns_all,
    dim_cols = sdmx_df_columns_dims,
    country_cols = sdmx_df_columns_country,
    time_cols = sdmx_df_columns_time,
    country_list_full = country_full_list,
    crba_country_list = country_crba_list
)

"""
s98_cleansed_mapped = map_values(
    dataframe = s98_cleansed,
    value_mapping_dict = value_mapper
)
"""


# Loop through all possible columns as defined for the final SDMX structure
for key in value_mapper:
    try:
        # Define emtpy lists to be mapped to each other
        original_values = []
        mapped_values = []

        # Loop obtain all possible original/ mapped value variations mappings
        for sub_key in value_mapper[key]:
            # Obtain boolean arrays for each possible original value
            for list_element in range(len(value_mapper[key][sub_key])):
                original_values += [s98_cleansed[key] == value_mapper[key][sub_key][list_element]]
            
            # Define the target value if original_values evaluates to true
            mapped_values += len(value_mapper[key][sub_key]) * [sub_key]
        
        # Convert (map) the values
        s98_cleansed[key] = np.select(
            original_values, mapped_values
        )

        # log info for user
        print("\n Successfully mapped value of column: {}".format(
            key
        ))

    # If column is not presnt (or if there are other issues)
    except:
        print("Values of column: {} couldn't be mapped. If column {} is present, there is an error with the code. ".format(
            key,
            key
        ))

Cleansing done. There are 569 rows in the dataframe and 1.41% have a NA-value in the column 'OBS_RAW_VALUE

 Successfully mapped value of column: DIM_SEX
Values of column: DIM_EDU_LEVEL couldn't be mapped. If column DIM_EDU_LEVEL is present, there is an error with the code.
Values of column: DIM_AGE couldn't be mapped. If column DIM_AGE is present, there is an error with the code.
Values of column: DIM_AGE_GROUP couldn't be mapped. If column DIM_AGE_GROUP is present, there is an error with the code.
Values of column: DIM_MANAGEMENT_LEVEL couldn't be mapped. If column DIM_MANAGEMENT_LEVEL is present, there is an error with the code.
Values of column: DIM_AREA_TYPE couldn't be mapped. If column DIM_AREA_TYPE is present, there is an error with the code.
Values of column: DIM_SECTOR couldn't be mapped. If column DIM_SECTOR is present, there is an error with the code.

In [12]:
import cleanse
import pandas as pd

s102_raw = pd.read_csv(
    filepath_or_buffer = data_sources_raw / "S-102_raw.csv"
)

s102_cleansed = cleanse.Cleanser().cleanse(
    raw_data = s102_raw,
    mapping_dictionary = mapping_dict,
    final_sdmx_col_list = sdmx_df_columns_all,
    dim_cols = sdmx_df_columns_dims,
    country_cols = sdmx_df_columns_country,
    time_cols = sdmx_df_columns_time,
    country_list_full = country_full_list,
    crba_country_list = country_crba_list
)

# s102_cleansed["REF_AREA"].apply(lambda x: mean(len(x)))
s102_cleansed.head(30)

s102_cleansed_mapped = map_values(
    dataframe = s102_cleansed,
    value_mapping_dict = value_mapper
)

s102_cleansed_mapped

Cleansing done. There are 195 rows in the dataframe and 26.15% have a NA-value in the column 'OBS_RAW_VALUE
['_T', 'BOTHSEX', 'BTSX', 'SEX_T', 'M', 'MALE', 'MLE', 'SEX_M', 'F', 'FEMALE', 'FMLE', 'SEX_F']
['BOTH_SEXES', 'BOTH_SEXES', 'BOTH_SEXES', 'BOTH_SEXES', 'MALE', 'MALE', 'MALE', 'MALE', 'FEMALE', 'FEMALE', 'FEMALE', 'FEMALE']

TypeError: invalid entry 0 in condlist: should be boolean ndarray

In [9]:
import cleanse
import pandas as pd

s52_raw = pd.read_csv(
    filepath_or_buffer = data_sources_raw / "S-52_raw.csv"
)

s52_cleansed = cleanse.Cleanser().cleanse(
    raw_data = s52_raw,
    mapping_dictionary = mapping_dict,
    final_sdmx_col_list = sdmx_df_columns_all,
    dim_cols = sdmx_df_columns_dims,
    country_cols = sdmx_df_columns_country,
    time_cols = sdmx_df_columns_time,
    country_list_full = country_full_list,
    crba_country_list = country_crba_list
)

# s102_cleansed["REF_AREA"].apply(lambda x: mean(len(x)))
s52_cleansed

The column REF_AREA has been renamed into COUNTRY_ISO_3, but should be COUNTRY_ISO_2. Now renaming it into COUNTRY_ISO_2
COUNTRY_ISO_2
2
Cleansing done. There are 1051 rows in the dataframe and 1.52% have a NA-value in the column 'OBS_RAW_VALUE

,ATTR_UNIT_MEASURE,DIM_EDU_LEVEL,DIM_SEX,DIM_AGE,COUNTRY_ISO_2,TIME_PERIOD,RAW_OBS_VALUE,ATTR_SOURCE_OBS_STATUS,_merge
0,PT,L01,_T,_T,AF,2018.0,0.00000,Z,both
1,PT,L01,F,_T,AF,2018.0,0.00000,Z,both
2,PT,L01,M,_T,AF,2018.0,0.00000,Z,both
3,PT,L01,_T,_T,AL,2012.0,0.00000,Z,both
4,PT,L01,F,_T,AL,2012.0,0.00000,Z,both
...,...,...,...,...,...,...,...,...,...
1046,PT,L01,F,_T,ZW,2013.0,0.00000,Z,both
1047,PT,L01,M,_T,ZW,2013.0,0.00000,Z,both
1048,PT,L02,_T,_T,ZW,2013.0,46.95562,A,both
1049,PT,L02,F,_T,ZW,2013.0,47.51739,A,both
1050,PT,L02,M,_T,ZW,2013.0,46.39818,A,both

In [13]:
# from utils import mapping_dictionary
# %run utils.mapping_dictionary.py

# %run "D:\Documents\2020\28_UNICEF\10_working_repo\data-etl\utils\mapping_dictionary.py"

country_tuple = ("REF_AREA", "COUNTRY")
country_mapper = {key: "REF_AREA" for key in country_tuple}


year_tuple = (
    "TIME_PERIOD",
    "YEAR",
)
year_mapper = {key: "TIME_PERIOD" for key in year_tuple}


obs_value_tuple = ("OBS_VALUE", "Display Value")
obs_value_mapper = {key: "OBS_VALUE" for key in obs_value_tuple}


dim_sex_tuple = "SEX"
dim_sex_mapper = {key: "OBS_VALUE" for key in obs_value_tuple}

"""
dim_edu_tuple = (
    ""
)

dim_age_tuple = (
    "SEX"
)
"""

# Create list of all mapper dictionaries
mapper_tuple_list = [country_mapper, year_mapper, obs_value_mapper, dim_sex_mapper]

# Define the mapping dictionary
mapping_dict = {}

for mapper_tuple in mapper_tuple_list:
    mapping_dict.update(mapper_tuple)

with open("mapping_dict.json", "w") as fp:
    json.dump(mapping_dict, fp)

In [21]:
year_tuple = (
    "TIME_PERIOD",
    "YEAR", 
)

x = {key: "xxx" for key in country_tuple}
y = {key: "yyy" for key in year_tuple}

x.update(y)
x}
y = {key: "yyy" for key in year_tuple}

x.update(y)
x

{'REF_AREA': 'xxx', 'COUNTRY': 'xxx', 'TIME_PERIOD': 'yyy', 'YEAR': 'yyy'}

In [8]:
s55_cleansed = cleanse.Cleanser.cleanse(
    raw_data = s55_raw,
    raw_data_iso_2_col = 'REF_AREA',
    country_df = country_crba_list,
    country_df_iso2_col = 'COUNTRY_ISO_2',
    non_dim_cols = ['OBS_VALUE', 'TIME_PERIOD', 'OBS_STATUS']
)

s55_cleansed.to_csv(data_sources_raw / "S_55_cleansed.csv")

In [9]:
from normalize.scaler import normalizer

s55_normalized = normalizer(
    cleansed_data = s55_cleansed,
    indicator_raw_value = 'OBS_VALUE',
    indicator_code = 'WP_DW_OC_FREASS',
    indicator_name = 'Out-of-school adolescents (lower secondary)',
    indicator_index = 'Workplace',
    indicator_issue = 'Decent working conditions',
    indicator_category = 'Outcome',
    cleansed_df_iso2_col = 'REF_AREA',
    crba_final_country_list = country_crba_list,
    crba_final_country_list_iso_col = 'COUNTRY_ISO_2',
    inverted = True,
    non_dim_cols = [
        'TIME_PERIOD', 
        'REF_AREA', 
        'OBS_VALUE', 
        'OBS_STATUS', 
        'COUNTRY_ISO_3', 
        'COUNTRY_NAME', 
        'COUNTRY_ISO_2', 
        '_merge'
    ])

s55_normalized

You have a selected a few columns, which will not be regarded as dimensions.These are the remaining columns in the dataset, along with the number of values they take in the dataset.
The column Dataflow has 1 unique values.
The column STAT_UNIT has 1 unique values.
The column UNIT_MEASURE has 1 unique values.
The column EDU_LEVEL has 3 unique values.
The column EDU_CAT has 1 unique values.
The column SEX has 3 unique values.
The column AGE has 1 unique values.
The column GRADE has 1 unique values.
The column SECTOR_EDU has 1 unique values.
The column EDU_ATTAIN has 1 unique values.
The column SUBJECT has 1 unique values.
The column WEALTH_QUINTILE has 1 unique values.
The column INFRASTR has 1 unique values.
The column LOCATION has 1 unique values.
The column EDU_TYPE has 1 unique values.
The column SE_BKGRD has 1 unique values.
The column SOURCE_FUND has 1 unique values.
The column FUND_FLOW has 1 unique values.
The column IMM_STATUS has 1 unique values.
The column UNIT_MULT has 1 unique values.
The column FREQ has 1 unique values.
The column DECIMALS has 1 unique values.
The total number of subgroups in the dataset is therefore: 9

 -

In the loop we are currently dealing with the subset #1, which has these defining values:

 Empty DataFrame
Columns: [Dataflow, STAT_UNIT, UNIT_MEASURE, EDU_LEVEL, EDU_CAT, SEX, AGE, GRADE, SECTOR_EDU, EDU_ATTAIN, SUBJECT, WEALTH_QUINTILE, INFRASTR, LOCATION, EDU_TYPE, SE_BKGRD, SOURCE_FUND, FUND_FLOW, IMM_STATUS, UNIT_MULT, FREQ, DECIMALS]
Index: []

[0 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (0, 30)


Dataframe is empty. There are no values to append.

 This is the end of loop #1.
 -


 -

In the loop we are currently dealing with the subset #2, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1387  UNESCO:SDG4(2.0)     ROFST           PT        L2      _T  _T

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1387  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1387       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1387        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (163, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 43.630325000000006
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.00589. This value corresponds to country: 739    Lithuania
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #2.
 -


 -

In the loop we are currently dealing with the subset #3, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1395  UNESCO:SDG4(2.0)     ROFST           PT        L3      _T   M

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1395  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1395       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1395        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (160, 30)


The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 83.84053. This value corresponds to country: 1317    Tanzania
Name: COUNTRY_NAME, dtype: object

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.67013. This value corresponds to country: 128    Belgium
Name: COUNTRY_NAME, dtype: object


 The shape of the dataframe should be 195 x X. It is:  (195, 35)


 This is the end of loop #3.
 -


 -

In the loop we are currently dealing with the subset #4, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1394  UNESCO:SDG4(2.0)     ROFST           PT        L3      _T   F

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1394  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1394       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1394        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (160, 30)


The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 89.7091. This value corresponds to country: 255    Central African Republic
Name: COUNTRY_NAME, dtype: object

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.07972. This value corresponds to country: 941    New Zealand
Name: COUNTRY_NAME, dtype: object


 The shape of the dataframe should be 195 x X. It is:  (195, 35)


 This is the end of loop #4.
 -


 -

In the loop we are currently dealing with the subset #5, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1393  UNESCO:SDG4(2.0)     ROFST           PT        L3      _T  _T

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1393  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1393       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1393        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (165, 30)


The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the upper end. The maximum value used for the normalisation is the maximum value in the dataset, which is 86.14805. This value corresponds to country: 958    Niger
Name: COUNTRY_NAME, dtype: object

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.06444. This value corresponds to country: 931    Netherlands
Name: COUNTRY_NAME, dtype: object


 The shape of the dataframe should be 195 x X. It is:  (195, 35)


 This is the end of loop #5.
 -


 -

In the loop we are currently dealing with the subset #6, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1392  UNESCO:SDG4(2.0)     ROFST           PT      L2_3      _T   M

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1392  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1392       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1392        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (161, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 65.25736
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.08982000000000001. This value corresponds to country: 1193    Singapore
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #6.
 -


 -

In the loop we are currently dealing with the subset #7, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1391  UNESCO:SDG4(2.0)     ROFST           PT      L2_3      _T   F

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1391  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1391       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1391        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (161, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 66.091475
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.06039. This value corresponds to country: 616    Ireland
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #7.
 -


 -

In the loop we are currently dealing with the subset #8, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1390  UNESCO:SDG4(2.0)     ROFST           PT      L2_3      _T  _T

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1390  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1390       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1390        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (162, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 69.8756925
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.07741. This value corresponds to country: 1191    Singapore
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #8.
 -


 -

In the loop we are currently dealing with the subset #9, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1389  UNESCO:SDG4(2.0)     ROFST           PT        L2      _T   M

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1389  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1389       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1389        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (155, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 43.3836
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.06477999999999999. This value corresponds to country: 656    Kazakhstan
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #9.
 -


 -

In the loop we are currently dealing with the subset #10, which has these defining values:

               Dataflow STAT_UNIT UNIT_MEASURE EDU_LEVEL EDU_CAT SEX  \
1388  UNESCO:SDG4(2.0)     ROFST           PT        L2      _T   F

                AGE GRADE SECTOR_EDU EDU_ATTAIN  ... INFRASTR LOCATION  \
1388  SCH_AGE_GROUP    _T     INST_T         _Z  ...       _Z       _Z

     EDU_TYPE SE_BKGRD SOURCE_FUND FUND_FLOW IMM_STATUS UNIT_MULT FREQ  \
1388       _T       _T          _Z        _Z         _Z         0    A

     DECIMALS
1388        5

[1 rows x 22 columns]

 The shape of the subset in the cleansed dataset is: (155, 30)


The distribution of the raw data values this subgroup contains outliers or is too skewed on the upper end. The maximum value to be used for the normalisation is: 3rd quartile or distribution + 1.5 * IQR. It is: 45.940870000000004
 See histogram printed below for info.

The distribution of the raw data for this subgroup does not contain outliers or is too skewed on the lower end. The minimum value used for the normalisation is the minimum value in the dataset, which is 0.09435. This value corresponds to country: 740    Lithuania
Name: COUNTRY_NAME, dtype: object


 This is the distribution of the raw data of the indicator.
Dataframe is empty. There are no values to append.

 This is the end of loop #10.
 -

The number of rows of the final dataframe (before the conversion from wide to long format is) is divisible by 195. It is: (585, 38)

,Dataflow,STAT_UNIT,UNIT_MEASURE,EDU_LEVEL,EDU_CAT,SEX,AGE,GRADE,SECTOR_EDU,EDU_ATTAIN,...,COUNTRY_ISO_3_y,COUNTRY_NAME_y,COUNTRY_ISO_2_y,RJ_CRBA_FULL_LIST,INDICATOR_NAME,INDICATOR_INDEX,INDICATOR_ISSUE,INDICATOR_CATEGORY,CRBA_RELEASE_YEAR,INDICATOR_CODE
0,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,M,SCH_AGE_GROUP,_T,INST_T,_Z,...,AFG,Afghanistan,AF,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
1,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,M,SCH_AGE_GROUP,_T,INST_T,_Z,...,ALB,Albania,AL,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AND,Andorra,AD,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DZA,Algeria,DZ,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
4,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,M,SCH_AGE_GROUP,_T,INST_T,_Z,...,AGO,Angola,AO,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,_T,SCH_AGE_GROUP,_T,INST_T,_Z,...,VEN,Venezuela,VE,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VNM,Vietnam,VN,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
192,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,_T,SCH_AGE_GROUP,_T,INST_T,_Z,...,YEM,Yemen,YE,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ZMB,Zambia,ZM,right_only,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS
194,UNESCO:SDG4(2.0),ROFST,PT,L3,_T,_T,SCH_AGE_GROUP,_T,INST_T,_Z,...,ZWE,Zimbabwe,ZW,both,Out-of-school adolescents (lower secondary),Workplace,Decent working conditions,Outcome,2020,WP_DW_OC_FREASS