In [1]:
%load_ext autoreload
%autoreload

In [2]:
from crba_project import log
from crba_project import etl

log.configure_log_flow_stdout(30)

[nltk_data] Downloading package punkt to /home/lasse/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/lasse/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [4]:
conf = etl.build_and_bootstrap_config(input_dir="../data_in",output_dir="../data_out",caching=True)

Configuration initialized with run_id:44d75715-50d7-4694-8bd1-0ce95d9dcf63
No duplicate indicator codes present. You can proceed.

In [24]:
df_full,error_source_ids ,stats= etl.build_combined_normalized_csv(conf)

 18%|█▊        | 37/206 [01:10<01:33,  1.80it/s]

Source S-50 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_EAR_GGAP_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-50 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_EAR_GGAP_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-50 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_EAR_GGAP_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-50 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_EAR_GGAP_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-50 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_EAR_GGAP_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31

Source S-50 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_EAR_GGAP_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/csv.py", line 18, in _download
    csv_data = Extractor.api_request(self.endpoint).text
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 29, in api_request
    response.raise_for_status()
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/requests/models.py", line 1021, in raise_for_status
    raise HTTPError(http_error_msg, response=self)
requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_EAR_GGAP_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-50 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_EAR_GGAP_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
 18%|█▊        | 37/206 [01:11<01:33,  1.80it/s]

Source S-51 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_HOW_UEMP_SEX_NB/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-51 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_HOW_UEMP_SEX_NB/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-51 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_HOW_UEMP_SEX_NB/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-51 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_HOW_UEMP_SEX_NB/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-51 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_HOW_UEMP_SEX_NB/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31

Source S-51 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_HOW_UEMP_SEX_NB/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/csv.py", line 18, in _download
    csv_data = Extractor.api_request(self.endpoint).text
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 29, in api_request
    response.raise_for_status()
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/requests/models.py", line 1021, in raise_for_status
    raise HTTPError(http_error_msg, response=self)
requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_HOW_UEMP_SEX_NB/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-51 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_YI_ALL_HOW_UEMP_SEX_NB/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
 19%|█▉        | 39/206 [01:11<01:18,  2.13it/s]

Source S-53 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_SDG_ALL_SDG_0552_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-53 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_SDG_ALL_SDG_0552_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-53 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_SDG_ALL_SDG_0552_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-53 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_SDG_ALL_SDG_0552_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-53 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_SDG_ALL_SDG_0552_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31

Source S-53 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_SDG_ALL_SDG_0552_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/csv.py", line 18, in _download
    csv_data = Extractor.api_request(self.endpoint).text
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 29, in api_request
    response.raise_for_status()
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/requests/models.py", line 1021, in raise_for_status
    raise HTTPError(http_error_msg, response=self)
requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_SDG_ALL_SDG_0552_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-53 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_SDG_ALL_SDG_0552_OCU_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
 22%|██▏       | 46/206 [01:19<03:35,  1.35s/it]

Source S-59 failed to extract cause of: No tables found
Source S-59 failed to extract cause of: No tables found
Source S-59 failed to extract cause of: No tables found
Source S-59 failed to extract cause of: No tables found
Source S-59 failed to extract cause of: No tables found

Source S-59 failed to extract cause of: No tables found
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/un.py", line 34, in _download
    raw_data = pd.read_html(io=target_table, header=0)[
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/html.py", line 1205, in read_html
    return _parse(
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/html.py", line 1006, in _parse
    raise retained
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/html.py", line 986, in _parse
    tables = p.parse_tables()
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/html.py", line 262, in parse_tables
    tables = self._parse_tables(self._build_doc(), self.match, self.attrs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/html.py", line 618, in _parse_tables
    raise ValueError("No tables found")
ValueError: No tables found

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-59 failed to extract cause of: No tables found
 24%|██▍       | 49/206 [01:19<02:02,  1.29it/s]

Source S-62 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-62 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-62 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-62 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-62 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.

Source S-62 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/json.py", line 123, in _transform
    self.dataframe = scaler.normalizer(
  File "/home/lasse/Development/crba-project/crba_project/normalize/scaler.py", line 114, in normalizer
    assert (
AssertionError: There are duplicated countries in the defined dimension-subgroup dataframe.

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-62 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
 38%|███▊      | 78/206 [01:22<00:08, 14.31it/s]

Source S-101 failed to extract cause of: The source has not provided any data
Source S-101 failed to extract cause of: The source has not provided any data
Source S-101 failed to extract cause of: The source has not provided any data
Source S-101 failed to extract cause of: The source has not provided any data
Source S-101 failed to extract cause of: The source has not provided any data

Source S-101 failed to extract cause of: The source has not provided any data
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 87, in download
    assert len(self.dataframe) > 0, "The source has not provided any data  "
AssertionError: The source has not provided any data

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-101 failed to extract cause of: The source has not provided any data
 39%|███▉      | 81/206 [01:22<00:14,  8.73it/s]

Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.

Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/csv.py", line 127, in _transform
    self.dataframe = scaler.normalizer(
  File "/home/lasse/Development/crba-project/crba_project/normalize/scaler.py", line 114, in normalizer
    assert (
AssertionError: There are duplicated countries in the defined dimension-subgroup dataframe.

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
 39%|███▉      | 81/206 [01:22<00:14,  8.73it/s]

Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.

Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/csv.py", line 127, in _transform
    self.dataframe = scaler.normalizer(
  File "/home/lasse/Development/crba-project/crba_project/normalize/scaler.py", line 114, in normalizer
    assert (
AssertionError: There are duplicated countries in the defined dimension-subgroup dataframe.

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-104 failed to extract cause of: There are duplicated countries in the defined dimension-subgroup dataframe.
 42%|████▏     | 87/206 [01:23<00:12,  9.75it/s]

Source S-115 failed to extract cause of: No tables found
Source S-115 failed to extract cause of: No tables found
Source S-115 failed to extract cause of: No tables found
Source S-115 failed to extract cause of: No tables found
Source S-115 failed to extract cause of: No tables found

Source S-115 failed to extract cause of: No tables found
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/un.py", line 34, in _download
    raw_data = pd.read_html(io=target_table, header=0)[
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/html.py", line 1205, in read_html
    return _parse(
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/html.py", line 1006, in _parse
    raise retained
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/html.py", line 986, in _parse
    tables = p.parse_tables()
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/html.py", line 262, in parse_tables
    tables = self._parse_tables(self._build_doc(), self.match, self.attrs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/html.py", line 618, in _parse_tables
    raise ValueError("No tables found")
ValueError: No tables found

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-115 failed to extract cause of: No tables found
 62%|██████▏   | 127/206 [01:28<00:08,  9.68it/s]

Source S-153 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-153_ndc_content.csv'
Source S-153 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-153_ndc_content.csv'
Source S-153 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-153_ndc_content.csv'
Source S-153 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-153_ndc_content.csv'
Source S-153 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-153_ndc_content.csv'

Source S-153 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-153_ndc_content.csv'
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 697, in _download
    self.dataframe = pd.read_csv(self.config.data_sources_raw_manual_machine / "S-153_ndc_content.csv")
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 950, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 605, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 1442, in __init__
    self._engine = self._make_engine(f, self.engine)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 1735, in _make_engine
    self.handles = get_handle(
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/common.py", line 856, in get_handle
    handle = open(
FileNotFoundError: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-153_ndc_content.csv'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-153 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-153_ndc_content.csv'
 62%|██████▏   | 127/206 [01:28<00:08,  9.68it/s]

Source S-154 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-154 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-154 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-154 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-154 failed to extract cause of: ['RAW_OBS_VALUE']

Source S-154 failed to extract cause of: ['RAW_OBS_VALUE']
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 59, in _transform
    self.dataframe = Cleanser().retrieve_latest_observation(
  File "/home/lasse/Development/crba-project/crba_project/cleanse/__init__.py", line 275, in retrieve_latest_observation
    renamed_data = renamed_data.dropna(subset=[obs_val_col])
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/core/frame.py", line 6558, in dropna
    raise KeyError(np.array(subset)[check].tolist())
KeyError: ['RAW_OBS_VALUE']

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-154 failed to extract cause of: ['RAW_OBS_VALUE']
 62%|██████▏   | 127/206 [01:28<00:08,  9.68it/s]

Source S-155 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
Source S-155 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
Source S-155 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
Source S-155 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
Source S-155 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068

Source S-155 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/csv.py", line 18, in _download
    csv_data = Extractor.api_request(self.endpoint).text
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 29, in api_request
    response.raise_for_status()
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/requests/models.py", line 1021, in raise_for_status
    raise HTTPError(http_error_msg, response=self)
requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-155 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
 63%|██████▎   | 130/206 [01:29<00:14,  5.37it/s]

Source S-156 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
Source S-156 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
Source S-156 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
Source S-156 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
Source S-156 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068

Source S-156 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/csv.py", line 18, in _download
    csv_data = Extractor.api_request(self.endpoint).text
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 29, in api_request
    response.raise_for_status()
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/requests/models.py", line 1021, in raise_for_status
    raise HTTPError(http_error_msg, response=self)
requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-156 failed to extract cause of: 404 Client Error: Not Found for url: https://api.resourcegovernanceindex.org/system/documents/documents/000/000/141/original/2017ResourceGovernanceIndex.csv?1518782068
 65%|██████▍   | 133/206 [01:30<00:16,  4.44it/s]

Source S-159 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-159_ghg-emissions.csv'
Source S-159 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-159_ghg-emissions.csv'
Source S-159 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-159_ghg-emissions.csv'
Source S-159 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-159_ghg-emissions.csv'
Source S-159 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-159_ghg-emissions.csv'

Source S-159 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-159_ghg-emissions.csv'
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 724, in _download
    self.dataframe = pd.read_csv(
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 950, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 605, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 1442, in __init__
    self._engine = self._make_engine(f, self.engine)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 1735, in _make_engine
    self.handles = get_handle(
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/common.py", line 856, in get_handle
    handle = open(
FileNotFoundError: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-159_ghg-emissions.csv'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-159 failed to extract cause of: [Errno 2] No such file or directory: '../data_in/data_raw_manually_extracted/machine_entered/S-159_ghg-emissions.csv'
 65%|██████▍   | 133/206 [01:30<00:16,  4.44it/s]

Source S-160 failed to extract cause of: The source has not provided any data
Source S-160 failed to extract cause of: The source has not provided any data
Source S-160 failed to extract cause of: The source has not provided any data
Source S-160 failed to extract cause of: The source has not provided any data
Source S-160 failed to extract cause of: The source has not provided any data

Source S-160 failed to extract cause of: The source has not provided any data
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 87, in download
    assert len(self.dataframe) > 0, "The source has not provided any data  "
AssertionError: The source has not provided any data

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-160 failed to extract cause of: The source has not provided any data
 68%|██████▊   | 141/206 [01:34<00:28,  2.28it/s]

Source S-168 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-168 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-168 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-168 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-168 failed to extract cause of: ['RAW_OBS_VALUE']

Source S-168 failed to extract cause of: ['RAW_OBS_VALUE']
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 59, in _transform
    self.dataframe = Cleanser().retrieve_latest_observation(
  File "/home/lasse/Development/crba-project/crba_project/cleanse/__init__.py", line 275, in retrieve_latest_observation
    renamed_data = renamed_data.dropna(subset=[obs_val_col])
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/core/frame.py", line 6558, in dropna
    raise KeyError(np.array(subset)[check].tolist())
KeyError: ['RAW_OBS_VALUE']

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-168 failed to extract cause of: ['RAW_OBS_VALUE']
 69%|██████▉   | 143/206 [01:35<00:24,  2.60it/s]

Source S-169 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-169 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-169 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-169 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-169 failed to extract cause of: ['RAW_OBS_VALUE']

Source S-169 failed to extract cause of: ['RAW_OBS_VALUE']
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 59, in _transform
    self.dataframe = Cleanser().retrieve_latest_observation(
  File "/home/lasse/Development/crba-project/crba_project/cleanse/__init__.py", line 275, in retrieve_latest_observation
    renamed_data = renamed_data.dropna(subset=[obs_val_col])
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/core/frame.py", line 6558, in dropna
    raise KeyError(np.array(subset)[check].tolist())
KeyError: ['RAW_OBS_VALUE']

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-169 failed to extract cause of: ['RAW_OBS_VALUE']
 70%|██████▉   | 144/206 [01:35<00:24,  2.54it/s]

Source S-170 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-170 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-170 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-170 failed to extract cause of: ['RAW_OBS_VALUE']
Source S-170 failed to extract cause of: ['RAW_OBS_VALUE']

Source S-170 failed to extract cause of: ['RAW_OBS_VALUE']
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 59, in _transform
    self.dataframe = Cleanser().retrieve_latest_observation(
  File "/home/lasse/Development/crba-project/crba_project/cleanse/__init__.py", line 275, in retrieve_latest_observation
    renamed_data = renamed_data.dropna(subset=[obs_val_col])
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/core/frame.py", line 6558, in dropna
    raise KeyError(np.array(subset)[check].tolist())
KeyError: ['RAW_OBS_VALUE']

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-170 failed to extract cause of: ['RAW_OBS_VALUE']
 73%|███████▎  | 150/206 [01:42<01:01,  1.10s/it]

Source S-178 failed to extract cause of: [Errno 2] No such file or directory: '  '
Source S-178 failed to extract cause of: [Errno 2] No such file or directory: '  '
Source S-178 failed to extract cause of: [Errno 2] No such file or directory: '  '
Source S-178 failed to extract cause of: [Errno 2] No such file or directory: '  '
Source S-178 failed to extract cause of: [Errno 2] No such file or directory: '  '

Source S-178 failed to extract cause of: [Errno 2] No such file or directory: '  '
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 142, in _download
    self.dataframe = pd.read_excel( self.endpoint, sheet_name="Blueprint")
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/excel/_base.py", line 482, in read_excel
    io = ExcelFile(io, storage_options=storage_options, engine=engine)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/excel/_base.py", line 1652, in __init__
    ext = inspect_excel_format(
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/excel/_base.py", line 1525, in inspect_excel_format
    with get_handle(
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/common.py", line 865, in get_handle
    handle = open(handle, ioargs.mode)
FileNotFoundError: [Errno 2] No such file or directory: '  '

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-178 failed to extract cause of: [Errno 2] No such file or directory: '  '
 77%|███████▋  | 159/206 [01:43<00:14,  3.14it/s]

Source S-186 failed to extract cause of: division by zero
Source S-186 failed to extract cause of: division by zero
Source S-186 failed to extract cause of: division by zero
Source S-186 failed to extract cause of: division by zero
Source S-186 failed to extract cause of: division by zero

Source S-186 failed to extract cause of: division by zero
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 118, in _transform
    self.dataframe = scaler.normalizer(
  File "/home/lasse/Development/crba-project/crba_project/normalize/scaler.py", line 93, in normalizer
    average_country_number = sum(temp_grouped_series) / len(temp_grouped_series)
ZeroDivisionError: division by zero

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-186 failed to extract cause of: division by zero
 77%|███████▋  | 159/206 [01:43<00:14,  3.14it/s]

Source S-187 failed to extract cause of: division by zero
Source S-187 failed to extract cause of: division by zero
Source S-187 failed to extract cause of: division by zero
Source S-187 failed to extract cause of: division by zero
Source S-187 failed to extract cause of: division by zero

Source S-187 failed to extract cause of: division by zero
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 118, in _transform
    self.dataframe = scaler.normalizer(
  File "/home/lasse/Development/crba-project/crba_project/normalize/scaler.py", line 93, in normalizer
    average_country_number = sum(temp_grouped_series) / len(temp_grouped_series)
ZeroDivisionError: division by zero

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-187 failed to extract cause of: division by zero
 78%|███████▊  | 161/206 [01:43<00:11,  3.97it/s]

Source S-188 failed to extract cause of: division by zero
Source S-188 failed to extract cause of: division by zero
Source S-188 failed to extract cause of: division by zero
Source S-188 failed to extract cause of: division by zero
Source S-188 failed to extract cause of: division by zero

Source S-188 failed to extract cause of: division by zero
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 118, in _transform
    self.dataframe = scaler.normalizer(
  File "/home/lasse/Development/crba-project/crba_project/normalize/scaler.py", line 93, in normalizer
    average_country_number = sum(temp_grouped_series) / len(temp_grouped_series)
ZeroDivisionError: division by zero

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-188 failed to extract cause of: division by zero
 81%|████████  | 167/206 [01:46<00:11,  3.32it/s]

Source S-194 failed to extract cause of: [Errno 2] No such file or directory: ''
Source S-194 failed to extract cause of: [Errno 2] No such file or directory: ''
Source S-194 failed to extract cause of: [Errno 2] No such file or directory: ''
Source S-194 failed to extract cause of: [Errno 2] No such file or directory: ''
Source S-194 failed to extract cause of: [Errno 2] No such file or directory: ''

Source S-194 failed to extract cause of: [Errno 2] No such file or directory: ''
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/manual.py", line 142, in _download
    self.dataframe = pd.read_excel( self.endpoint, sheet_name="Blueprint")
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/util/_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/excel/_base.py", line 482, in read_excel
    io = ExcelFile(io, storage_options=storage_options, engine=engine)
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/excel/_base.py", line 1652, in __init__
    ext = inspect_excel_format(
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/excel/_base.py", line 1525, in inspect_excel_format
    with get_handle(
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/pandas/io/common.py", line 865, in get_handle
    handle = open(handle, ioargs.mode)
FileNotFoundError: [Errno 2] No such file or directory: ''

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-194 failed to extract cause of: [Errno 2] No such file or directory: ''
 84%|████████▍ | 174/206 [01:48<00:15,  2.03it/s]

Source S-205 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_TUMT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-205 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_TUMT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-205 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_TUMT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-205 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_TUMT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-205 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_TUMT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31

Source S-205 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_TUMT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/csv.py", line 18, in _download
    csv_data = Extractor.api_request(self.endpoint).text
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 29, in api_request
    response.raise_for_status()
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/requests/models.py", line 1021, in raise_for_status
    raise HTTPError(http_error_msg, response=self)
requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_TUMT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-205 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_TUMT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
 87%|████████▋ | 179/206 [01:49<00:05,  4.57it/s]

Source S-211 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_CBCT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-211 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_CBCT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-211 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_CBCT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-211 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_CBCT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Source S-211 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_CBCT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31

Source S-211 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_CBCT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 84, in download
    self.dataframe = self._download()
  File "/home/lasse/Development/crba-project/crba_project/extractor/csv.py", line 18, in _download
    csv_data = Extractor.api_request(self.endpoint).text
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 29, in api_request
    response.raise_for_status()
  File "/home/lasse/.cache/pypoetry/virtualenvs/crba-project-wtXAP8Rl-py3.8/lib/python3.8/site-packages/requests/models.py", line 1021, in raise_for_status
    raise HTTPError(http_error_msg, response=self)
requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_CBCT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-211 failed to extract cause of: 404 Client Error: Not Found for url: https://www.ilo.org/sdmx/rest/data/ILO,DF_IR_ALL_ILR_CBCT_NOC_RT/?format=csv&startPeriod=2010-01-01&endPeriod=2020-12-31
 89%|████████▉ | 183/206 [01:50<00:05,  3.88it/s]

Source S-217 failed to extract cause of: division by zero
Source S-217 failed to extract cause of: division by zero
Source S-217 failed to extract cause of: division by zero
Source S-217 failed to extract cause of: division by zero
Source S-217 failed to extract cause of: division by zero

Source S-217 failed to extract cause of: division by zero
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 92, in transform
    self.dataframe = self._transform()
  File "/home/lasse/Development/crba-project/crba_project/extractor/json.py", line 123, in _transform
    self.dataframe = scaler.normalizer(
  File "/home/lasse/Development/crba-project/crba_project/normalize/scaler.py", line 93, in normalizer
    average_country_number = sum(temp_grouped_series) / len(temp_grouped_series)
ZeroDivisionError: division by zero

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-217 failed to extract cause of: division by zero
 91%|█████████▏| 188/206 [01:51<00:03,  4.56it/s]

Source S-222 failed to extract cause of: The source has not provided any data
Source S-222 failed to extract cause of: The source has not provided any data
Source S-222 failed to extract cause of: The source has not provided any data
Source S-222 failed to extract cause of: The source has not provided any data
Source S-222 failed to extract cause of: The source has not provided any data

Source S-222 failed to extract cause of: The source has not provided any data
Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 101, in get
    self.download() \
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 87, in download
    assert len(self.dataframe) > 0, "The source has not provided any data  "
AssertionError: The source has not provided any data

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/lasse/Development/crba-project/crba_project/etl.py", line 55, in build_combined_normalized_csv
    df = extractor.get()
  File "/home/lasse/Development/crba-project/crba_project/extractor/__init__.py", line 110, in get
    raise ExtractionError(
crba_project.extractor.ExtractionError: Source S-222 failed to extract cause of: The source has not provided any data
 93%|█████████▎| 192/206 [01:51<00:01,  7.44it/s]

Dataset contains two values for Federated States of Micronesia (ISO3 code 'FSM'). Now taking the first value for FSM to proceed with normalizer.
Dataset contains two values for Federated States of Micronesia (ISO3 code 'FSM'). Now taking the first value for FSM to proceed with normalizer.

100%|██████████| 206/206 [01:53<00:00,  1.81it/s]

In [25]:
stats

{'S-1': {'stats': "<class 'pandas.core.frame.DataFrame'>\nInt64Index: 195 entries, 0 to 194\nData columns (total 26 columns):\n #   Column                           Non-Null Count  Dtype         \n---  ------                           --------------  -----         \n 0   COUNTRY_NAME                     174 non-null    object        \n 1   ATTR_RATIFICATION_DATE           174 non-null    datetime64[ns]\n 2   ATTR_TREATY_STATUS               174 non-null    object        \n 3   ATTR_FOOTNOTE_OF_SOURCE          174 non-null    object        \n 4   COUNTRY_ISO_2                    174 non-null    object        \n 5   COUNTRY_ISO_3                    195 non-null    object        \n 6   _merge                           195 non-null    category      \n 7   TIME_PERIOD                      195 non-null    int64         \n 8   INDICATOR_NAME                   195 non-null    object        \n 9   INDICATOR_INDEX                  195 non-null    object        \n 10  INDICATOR_ISSUE                  195 non-null    object        \n 11  INDICATOR_CATEGORY               195 non-null    object        \n 12  INDICATOR_CODE                   195 non-null    object        \n 13  ATTR_SOURCE                      195 non-null    object        \n 14  ATTR_SOURCE_BODY                 195 non-null    object        \n 15  ATTR_INDICATOR_DESCRIPTION       195 non-null    object        \n 16  ATTR_INDICATOR_EXPLANATION       195 non-null    object        \n 17  ATTR_UNIT_MEASURE                195 non-null    object        \n 18  ATTR_DATA_EXTRACTION_METHDOLOGY  195 non-null    object        \n 19  ATTR_SOURCE_TITLE                195 non-null    object        \n 20  ATTR_API_ENDPOINT_URL            195 non-null    object        \n 21  CRBA_RELEASE_YEAR                195 non-null    int64         \n 22  RAW_OBS_VALUE                    195 non-null    int64         \n 23  ATTR_ENCODING_LABELS             195 non-null    object        \n 24  SCALED_OBS_VALUE                 195 non-null    float64       \n 25  OBS_STATUS                       0 non-null      object        \ndtypes: category(1), datetime64[ns](1), float64(1), int64(3), object(20)\nmemory usage: 39.9+ KB\n"},
 'S-2': {'stats': "<class 'pandas.core.frame.DataFrame'>\nInt64Index: 195 entries, 0 to 194\nData columns (total 26 columns):\n #   Column                           Non-Null Count  Dtype         \n---  ------                           --------------  -----         \n 0   COUNTRY_NAME                     185 non-null    object        \n 1   ATTR_RATIFICATION_DATE           185 non-null    datetime64[ns]\n 2   ATTR_TREATY_STATUS               185 non-null    object        \n 3   ATTR_FOOTNOTE_OF_SOURCE          185 non-null    object        \n 4   COUNTRY_ISO_2                    185 non-null    object        \n 5   COUNTRY_ISO_3                    195 non-null    object        \n 6   _merge                           195 non-null    category      \n 7   TIME_PERIOD                      195 non-null    int64         \n 8   INDICATOR_NAME                   195 non-null    object        \n 9   INDICATOR_INDEX                  195 non-null    object        \n 10  INDICATOR_ISSUE                  195 non-null    object        \n 11  INDICATOR_CATEGORY               195 non-null    object        \n 12  INDICATOR_CODE                   195 non-null    object        \n 13  ATTR_SOURCE                      195 non-null    object        \n 14  ATTR_SOURCE_BODY                 195 non-null    object        \n 15  ATTR_INDICATOR_DESCRIPTION       195 non-null    object        \n 16  ATTR_INDICATOR_EXPLANATION       195 non-null    object        \n 17  ATTR_UNIT_MEASURE                195 non-null    object        \n 18  ATTR_DATA_EXTRACTION_METHDOLOGY  195 non-null    object        \n 19  ATTR_SOURCE_TITLE                195 non-null    object        \n 20  ATTR_API_ENDPOINT_URL            195 non-null    object        \n 21  CRBA_RELEASE_YEAR                195 non-null    int64         \n 22  RAW_OBS_VALUE                    195 non-null    int64         \n 23  ATTR_ENCODING_LABELS             195 non-null    object        \n 24  SCALED_OBS_VALUE                 195 non-null    float64       \n 25  OBS_STATUS                       0 non-null      object        \ndtypes: category(1), datetime64[ns](1), float64(1), int64(3), object(20)\nmemory usage: 39.9+ KB\n"},
 'S-3': {'stats': "<class 'pandas.core.frame.DataFrame'>\nInt64Index: 195 entries, 0 to 194\nData columns (total 25 columns):\n #   Column                           Non-Null Count  Dtype         \n---  ------                           --------------  -----         \n 0   COUNTRY_NAME                     183 non-null    object        \n 1   ATTR_RATIFICATION_DATE           176 non-null    datetime64[ns]\n 2   COUNTRY_ISO_2                    183 non-null    object        \n 3   COUNTRY_ISO_3                    195 non-null    object        \n 4   _merge                           195 non-null    category      \n 5   TIME_PERIOD                      195 non-null    int64         \n 6   INDICATOR_NAME                   195 non-null    object        \n 7   INDICATOR_INDEX                  195 non-null    object        \n 8   INDICATOR_ISSUE                  195 non-null    object        \n 9   INDICATOR_CATEGORY               195 non-null    object        \n 10  INDICATOR_CODE                   195 non-null    object        \n 11  ATTR_SOURCE                      195 non-null    object        \n 12  ATTR_SOURCE_BODY                 195 non-null    object        \n 13  ATTR_INDICATOR_DESCRIPTION       195 non-null    object        \n 14  ATTR_INDICATOR_EXPLANATION       195 non-null    object        \n 15  ATTR_UNIT_MEASURE                195 non-null    object        \n 16  ATTR_DATA_EXTRACTION_METHDOLOGY  195 non-null    object        \n 17  ATTR_SOURCE_TITLE                195 non-null    object        \n 18  ATTR_API_ENDPOINT_URL            195 non-null    object        \n 19  CRBA_RELEASE_YEAR                195 non-null    int64         \n 20  ATTR_RATIFICATION_DETAILS        64 non-null     object        \n 21  RAW_OBS_VALUE                    195 non-null    int64         \n 22  ATTR_ENCODING_LABELS             195 non-null    object        \n 23  SCALED_OBS_VALUE                 195 non-null    float64       \n 24  OBS_STATUS                       0 non-null      object        \ndtypes: category(1), datetime64[ns](1), float64(1), int64(3), object(19)\nmemory usage: 38.4+ KB\n"},
 'S-4': {'stats': "<class 'pandas.core.frame.DataFrame'>\nInt64Index: 195 entries, 0 to 194\nData columns (total 25 columns):\n #   Column                           Non-Null Count  Dtype         \n---  ------                           --------------  -----         \n 0   COUNTRY_NAME                     180 non-null    object        \n 1   ATTR_RATIFICATION_DATE           178 non-null    datetime64[ns]\n 2   COUNTRY_ISO_2                    180 non-null    object        \n 3   COUNTRY_ISO_3                    195 non-null    object        \n 4   _merge                           195 non-null    category      \n 5   TIME_PERIOD                      195 non-null    int64         \n 6   INDICATOR_NAME                   195 non-null    object        \n 7   INDICATOR_INDEX                  195 non-null    object        \n 8   INDICATOR_ISSUE                  195 non-null    object        \n 9   INDICATOR_CATEGORY               195 non-null    object        \n 10  INDICATOR_CODE                   195 non-null    object        \n 11  ATTR_SOURCE                      195 non-null    object        \n 12  ATTR_SOURCE_BODY                 195 non-null    object        \n 13  ATTR_INDICATOR_DESCRIPTION       195 non-null    object        \n 14  ATTR_INDICATOR_EXPLANATION       195 non-null    object        \n 15  ATTR_UNIT_MEASURE                195 non-null    object        \n 16  ATTR_DATA_EXTRACTION_METHDOLOGY  195 non-null    object        \n 17  ATTR_SOURCE_TITLE                195 non-null    object        \n 18  ATTR_API_ENDPOINT_URL            195 non-null    object        \n 19  CRBA_RELEASE_YEAR                195 non-null    int64         \n 20  ATTR_RATIFICATION_DETAILS        67 non-null     object        \n 21  RAW_OBS_VALUE                    195 non-null    int64         \n 22  ATTR_ENCODING_LABELS             195 non-null    object        \n 23  SCALED_OBS_VALUE                 195 non-null    float64       \n 24  OBS_STATUS                       0 non-null      object        \ndtypes: category(1), datetime64[ns](1), float64(1), int64(3), object(19)\nmemory usage: 38.4+ KB\n"},
 'S-5': {'stats': "<class 'pandas.core.frame.DataFrame'>\nInt64Index: 195 entries, 0 to 194\nData columns (total 26 columns):\n #   Column                           Non-Null Count  Dtype         \n---  ------                           --------------  -----         \n 0   COUNTRY_NAME                     178 non-null    object        \n 1   ATTR_RATIFICATION_DATE           178 non-null    datetime64[ns]\n 2   ATTR_TREATY_STATUS               178 non-null    object        \n 3   ATTR_FOOTNOTE_OF_SOURCE          178 non-null    object        \n 4   COUNTRY_ISO_2                    178 non-null    object        \n 5   COUNTRY_ISO_3                    195 non-null    object        \n 6   _merge                           195 non-null    category      \n 7   TIME_PERIOD                      195 non-null    int64         \n 8   INDICATOR_NAME                   195 non-null    object        \n 9   INDICATOR_INDEX                  195 non-null    object        \n 10  INDICATOR_ISSUE                  195 non-null    object        \n 11  INDICATOR_CATEGORY               195 non-null    object        \n 12  INDICATOR_CODE                   195 non-null    object        \n 13  ATTR_SOURCE                      195 non-null    object        \n 14  ATTR_SOURCE_BODY                 195 non-null    object        \n 15  ATTR_INDICATOR_DESCRIPTION       195 non-null    object        \n 16  ATTR_INDICATOR_EXPLANATION       195 non-null    object        \n 17  ATTR_UNIT_MEASURE                195 non-null    object        \n 18  ATTR_DATA_EXTRACTION_METHDOLOGY  195 non-null    object        \n 19  ATTR_SOURCE_TITLE                195 non-null    object        \n 20  ATTR_API_ENDPOINT_URL            195 non-null    object        \n 21  CRBA_RELEASE_YEAR                195 non-null    int64         \n 22  RAW_OBS_VALUE                    195 non-null    int64         \n 23  ATTR_ENCODING_LABELS             195 non-null    object        \n 24  SCALED_OBS_VALUE                 195 non-null    float64       \n 25  OBS_STATUS                       0 non-null      object        \ndtypes: category(1), datetime64[ns](1), float64(1), int64(3), object(20)\nmemory usage: 39.9+ KB\n"},
 'S-6': {'stats': "<class 'pandas.core.frame.DataFrame'>\nInt64Index: 195 entries, 0 to 194\nData columns (total 26 columns):\n #   Column                           Non-Null Count  Dtype         \n---  ------                           --------------  -----         \n 0   COUNTRY_NAME                     176 non-null    object        \n 1   ATTR_RATIFICATION_DATE           176 non-null    datetime64[ns]\n 2   ATTR_TREATY_STATUS               176 non-null    object        \n 3   ATTR_FOOTNOTE_OF_SOURCE          176 non-null    object        \n 4   COUNTRY_ISO_2                    176 non-null    object        \n 5   COUNTRY_ISO_3                    195 non-null    object        \n 6   _merge                           195 non-null    category      \n 7   TIME_PERIOD                      195 non-null    int64         \n 8   INDICATOR_NAME                   195 non-null    object        \n 9   INDICATOR_INDEX                  195 non-null    object        \n 10  INDICATOR_ISSUE                  195 non-null    object        \n 11  INDICATOR_CATEGORY               195 non-null    object        \n 12  INDICATOR_CODE                   195 non-null    object        \n 13  ATTR_SOURCE                      195 non-null    object        \n 14  ATTR_SOURCE_BODY                 195 non-null    object        \n 15  ATTR_INDICATOR_DESCRIPTION       195 non-null    object        \n 16  ATTR_INDICATOR_EXPLANATION       195 non-null    object        \n 17  ATTR_UNIT_MEASURE                195 non-null    object        \n 18  ATTR_DATA_EXTRACTION_METHDOLOGY  195 non-null    object        \n 19  ATTR_SOURCE_TITLE                195 non-null    object        \n 20  ATTR_API_ENDPOINT_URL            195 non-null    object        \n 21  CRBA_RELEASE_YEAR                195 non-null    int64         \n 22  RAW_OBS_VALUE                    195 non-null    int64         \n 23  ATTR_ENCODING_LABELS             195 non-null    object        \n 24  SCALED_OBS_VALUE                 195 non-null    float64       \n 25  OBS_STATUS                       0 non-null      object        \ndtypes: category(1), datetime64[ns](1), float64(1), int64(3), object(20)\nmemory usage: 39.9+ KB\n"},
 'S-7': {'stats': "<class 'pandas.core.frame.DataFrame'>\nInt64Index: 195 entries, 0 to 194\nData columns (total 26 columns):\n #   Column                           Non-Null Count  Dtype         \n---  ------                           --------------  -----         \n 0   COUNTRY_NAME                     59 non-null     object        \n 1   ATTR_RATIFICATION_DATE           59 non-null     datetime64[ns]\n 2   ATTR_TREATY_STATUS               59 non-null     object        \n 3   ATTR_FOOTNOTE_OF_SOURCE          59 non-null     object        \n 4   COUNTRY_ISO_2                    59 non-null     object        \n 5   COUNTRY_ISO_3                    195 non-null    object        \n 6   _merge                           195 non-null    category      \n 7   TIME_PERIOD                      195 non-null    int64         \n 8   INDICATOR_NAME                   195 non-null    object        \n 9   INDICATOR_INDEX                  195 non-null    object        \n 10  INDICATOR_ISSUE                  195 non-null    object        \n 11  INDICATOR_CATEGORY               195 non-null    object        \n 12  INDICATOR_CODE                   195 non-null    object        \n 13  ATTR_SOURCE                      195 non-null    object        \n 14  ATTR_SOURCE_BODY                 195 non-null    object        \n 15  ATTR_INDICATOR_DESCRIPTION       195 non-null    object        \n 16  ATTR_INDICATOR_EXPLANATION       195 non-null    object        \n 17  ATTR_UNIT_MEASURE                195 non-null    object        \n 18  ATTR_DATA_EXTRACTION_METHDOLOGY  195 non-null    object        \n 19  ATTR_SOURCE_TITLE                195 non-null    object        \n 20  ATTR_API_ENDPOINT_URL            195 non-null    object        \n 21  CRBA_RELEASE_YEAR                195 non-null    int64         \n 22  RAW_OBS_VALUE                    195 non-null    int64         \n 23  ATTR_ENCODING_LABELS             195 non-null    object        \n 24  SCALED_OBS_VALUE                 195 non-null    float64       \n 25  OBS_STATUS                       0 non-null      object        \ndtypes: category(1), datetime64[ns](1), float64(1), int64(3), object(20)\nmemory usage: 39.9+ KB\n"},
 'S-8': {'stats': "<class 'pandas.core.frame.DataFrame'>\nInt64Index: 195 entries, 0 to 194\nData columns (total 21 columns):\n #   Column                           Non-Null Count  Dtype   \n---  ------                           --------------  -----   \n 0   COUNTRY_ISO_3                    195 non-null    object  \n 1   RAW_OBS_VALUE                    195 non-null    int64   \n 2   _merge                           195 non-null    category\n 3   TIME_PERIOD                      195 non-null    int64   \n 4   INDICATOR_NAME                   195 non-null    object  \n 5   INDICATOR_INDEX                  195 non-null    object  \n 6   INDICATOR_ISSUE                  195 non-null    object  \n 7   INDICATOR_CATEGORY               195 non-null    object  \n 8   INDICATOR_CODE                   195 non-null    object  \n 9   ATTR_SOURCE                      195 non-null    object  \n 10  ATTR_SOURCE_BODY                 195 non-null    object  \n 11  ATTR_INDICATOR_DESCRIPTION       195 non-null    object  \n 12  ATTR_INDICATOR_EXPLANATION       195 non-null    object  \n 13  ATTR_UNIT_MEASURE                195 non-null    object  \n 14  ATTR_DATA_EXTRACTION_METHDOLOGY  195 non-null    object  \n 15  ATTR_SOURCE_TITLE                195 non-null    object  \n 16  ATTR_API_ENDPOINT_URL            195 non-null    object  \n 17  CRBA_RELEASE_YEAR                195 non-null    int64   \n 18  ATTR_ENCODING_LABELS             195 non-null    object  \n 19  SCALED_OBS_VALUE                 191 non-null    float64 \n 20  OBS_STATUS                       4 non-null      object  \ndtypes: category(1), float64(1), int64(3), object(16)\nmemory usage: 32.3+ KB\n"},
 'S-9': {'stats': "<class 'pandas.core.frame.DataFrame'>\nInt64Index: 195 entries, 0 to 194\nData columns (total 21 columns):\n #   Column                           Non-Null Count  Dtype   \n---  ------                           --------------  -----   \n 0   COUNTRY_ISO_3                    195 non-null    object  \n 1   RAW_OBS_VALUE                    195 non-null    int64   \n 2   _merge                           195 non-null    category\n 3   TIME_PERIOD                      195 non-null    int64   \n 4   INDICATOR_NAME                   195 non-null    object  \n 5   INDICATOR_INDEX                  195 non-null    object  \n 6   INDICATOR_ISSUE                  195 non-null    object  \n 7   INDICATOR_CATEGORY               195 non-null    object  \n 8   INDICATOR_CODE                   195 non-null    object  \n 9   ATTR_SOURCE                      195 non-null    object  \n 10  ATTR_SOURCE_BODY                 195 non-null    object  \n 11  ATTR_INDICATOR_DESCRIPTION       195 non-null    object  \n 12  ATTR_INDICATOR_EXPLANATION       195 non-null    object  \n 13  ATTR_UNIT_MEASURE                195 non-null    object  \n 14  ATTR_DATA_EXTRACTION_METHDOLOGY  195 non-null    object  \n 15  ATTR_SOURCE_TITLE                195 non-null    object  \n 16  ATTR_API_ENDPOINT_URL            195 non-null    object  \n 17  CRBA_RELEASE_YEAR                195 non-null    int64   \n 18  ATTR_ENCODING_LABELS             195 non-null    object  \n 19  SCALED_OBS_VALUE                 184 non-null    float64 \n 20  OBS_STATUS                       11 non-null     object  \ndtypes: category(1), float64(1), int64(3), object(16)\nmemory usage: 32.3+ KB\n"},

In [6]:
df_full

,COUNTRY_NAME,ATTR_RATIFICATION_DATE,ATTR_TREATY_STATUS,ATTR_FOOTNOTE_OF_SOURCE,COUNTRY_ISO_2,COUNTRY_ISO_3,_merge,TIME_PERIOD,INDICATOR_NAME,INDICATOR_INDEX,...,DIM_REP_TYPE,DIM_SECTOR,DIM_AGE_GROUP,DIM_EDU_LEVEL,DIM_QUANTILE,COVERAGE_TIME,DIM_ALCOHOL_TYPE,DIM_AREA_TYPE,DIM_MATERNAL_EDU_LVL,DIM_CAUSE_TYPE
0,Afghanistan,2010-04-07,In Force,Minimum age specified: 14 years,AF,AFG,both,2022.0,Minimum Age Convention,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,1998-02-16,In Force,Minimum age specified: 16 years,AL,ALB,both,2022.0,Minimum Age Convention,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaT,NaN,NaN,NaN,AND,right_only,2022.0,Minimum Age Convention,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,1984-04-30,In Force,Minimum age specified: 16 years,DZ,DZA,both,2022.0,Minimum Age Convention,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,2001-06-13,In Force,Minimum age specified: 14 years,AO,AGO,both,2022.0,Minimum Age Convention,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52691,NaN,NaT,NaN,NaN,NaN,VEN,right_only,2022.0,Quality of pre-primary teaching,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52692,NaN,NaT,NaN,NaN,NaN,VNM,right_only,2022.0,Quality of pre-primary teaching,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52693,NaN,NaT,NaN,NaN,NaN,YEM,right_only,2022.0,Quality of pre-primary teaching,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52694,NaN,NaT,NaN,NaN,NaN,ZMB,right_only,2022.0,Quality of pre-primary teaching,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52695,NaN,NaT,NaN,NaN,NaN,ZWE,right_only,2022.0,Quality of pre-primary teaching,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
crba_final,aggregated_scores_dataset  = etl.aggregate_combined_normalized_csv(config=conf,combined_normalized_csv=df_full)

This is the number of duplicate rows:
0

/home/lasse/Development/crba-project/crba_project/etl.py:118: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_scores_dataset.loc[
/home/lasse/Development/crba-project/crba_project/etl.py:126: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  by = [
/home/lasse/Development/crba-project/crba_project/etl.py:176: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  by = [
/home/lasse/Development/crba-project/crba_project/etl.py:220: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  by = [

In [19]:
crba_final

,COUNTRY_NAME,ATTR_RATIFICATION_DATE,ATTR_TREATY_STATUS,ATTR_FOOTNOTE_OF_SOURCE,COUNTRY_ISO_2,COUNTRY_ISO_3,_merge,TIME_PERIOD,INDICATOR_NAME,INDICATOR_INDEX,...,DIM_ALCOHOL_TYPE,DIM_AREA_TYPE,DIM_MATERNAL_EDU_LVL,DIM_CAUSE_TYPE,CATEGORY_ISSUE_SCORE,ISSUE_INDEX_SCORE,ISSUE_INDEX_RISK_CATEGORY,INDEX_SCORE,INDEX_RISK_CATEGORY,OVERALL_SCORE
0,Afghanistan,2010-04-07,In Force,Minimum age specified: 14 years,AF,AFG,both,2022.0,Minimum Age Convention,Workplace,...,_T,_T,_T,_T,7.142857,5.398810,Medium risk,3.279663,High risk,4.172509
1,Albania,1998-02-16,In Force,Minimum age specified: 16 years,AL,ALB,both,2022.0,Minimum Age Convention,Workplace,...,_T,_T,_T,_T,8.571429,7.720794,Low risk,7.336662,Low risk,7.544872
2,NaN,NaT,NaN,NaN,NaN,AND,right_only,2022.0,Minimum Age Convention,Workplace,...,_T,_T,_T,_T,2.857143,8.394524,Low risk,6.024851,Medium risk,5.889699
3,Algeria,1984-04-30,In Force,Minimum age specified: 16 years,DZ,DZA,both,2022.0,Minimum Age Convention,Workplace,...,_T,_T,_T,_T,8.571429,8.658571,Low risk,6.130751,Medium risk,5.882926
4,Angola,2001-06-13,In Force,Minimum age specified: 14 years,AO,AGO,both,2022.0,Minimum Age Convention,Workplace,...,_T,_T,_T,_T,8.571429,5.322127,Medium risk,3.728252,High risk,4.801916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84241,NaN,NaT,NaN,NaN,NaN,VEN,right_only,2022.0,Quality of pre-primary teaching,Workplace,...,_T,_T,_T,_T,4.373333,3.911032,High risk,5.314777,High risk,5.645693
84243,NaN,NaT,NaN,NaN,NaN,VNM,right_only,2022.0,Quality of pre-primary teaching,Workplace,...,_T,_T,_T,_T,3.832000,3.601738,High risk,5.228215,High risk,6.326815
84245,NaN,NaT,NaN,NaN,NaN,YEM,right_only,2022.0,Quality of pre-primary teaching,Workplace,...,_T,_T,_T,_T,3.575000,2.282937,High risk,3.604497,High risk,3.850535
84247,NaN,NaT,NaN,NaN,NaN,ZMB,right_only,2022.0,Quality of pre-primary teaching,Workplace,...,_T,_T,_T,_T,2.144000,2.223238,High risk,4.085501,High risk,5.144376
84249,NaN,NaT,NaN,NaN,NaN,ZWE,right_only,2022.0,Quality of pre-primary teaching,Workplace,...,_T,_T,_T,_T,2.158000,2.286794,High risk,3.720202,High risk,4.684258

In [20]:
aggregated_scores_dataset

,COUNTRY_ISO_3,INDICATOR_CATEGORY,INDICATOR_ISSUE,INDICATOR_INDEX,CATEGORY_ISSUE_SCORE,ISSUE_INDEX_SCORE,ISSUE_INDEX_RISK_CATEGORY,INDEX_SCORE,INDEX_RISK_CATEGORY,OVERALL_SCORE
0,AFG,Enforcement,Child labour,Workplace,4.515000,5.398810,Medium risk,3.279663,High risk,4.172509
1,AFG,Legal framework international,Child labour,Workplace,7.142857,5.398810,Medium risk,3.279663,High risk,4.172509
2,AFG,Legal framework national,Child labour,Workplace,10.000000,5.398810,Medium risk,3.279663,High risk,4.172509
3,AFG,Outcome,Child labour,Workplace,3.110000,5.398810,Medium risk,3.279663,High risk,4.172509
4,AFG,Enforcement,Child labour,Workplace,4.515000,5.398810,Medium risk,3.279663,High risk,4.172509
...,...,...,...,...,...,...,...,...,...,...
12799,ZWE,Legal framework international,Product Safety,Marketplace,10.000000,5.158056,Medium risk,5.536426,Medium risk,4.684258
12800,ZWE,Legal framework national,Product Safety,Marketplace,8.333333,5.158056,Medium risk,5.536426,Medium risk,4.684258
12801,ZWE,Outcome,Product Safety,Marketplace,2.355000,5.158056,Medium risk,5.536426,Medium risk,4.684258
12802,ZWE,Enforcement,Product Safety,Marketplace,3.952500,5.158056,Medium risk,5.536426,Medium risk,4.684258
12803,ZWE,Outcome,Product Safety,Marketplace,2.355000,5.158056,Medium risk,5.536426,Medium risk,4.684258

In [ ]:
error_source_ids

In [ ]:
conf_filtered = etl.build_and_bootstrap_config(input_dir="../data_in",output_dir="../data_out",caching=True,filter=error_source_ids)
df_filtered,error_source_ids = etl.build_combined_normalized_csv(conf_filtered)

In [11]:
conf_S_176 = etl.build_and_bootstrap_config(input_dir="../data_in",output_dir="../data_out",caching=True,filter=["S-176"])
df_S_176,error_source_ids,stats = etl.build_combined_normalized_csv(conf_S_176)
df_S_176

Configuration initialized with run_id:030e1a3e-364f-486a-aab6-01415057558f
No duplicate indicator codes present. You can proceed.

  0%|          | 0/1 [00:00<?, ?it/s]

,COUNTRY_ISO_3,TIME_PERIOD,RAW_OBS_VALUE,_merge,INDICATOR_NAME,INDICATOR_INDEX,INDICATOR_ISSUE,INDICATOR_CATEGORY,INDICATOR_CODE,ATTR_SOURCE,...,ATTR_INDICATOR_DESCRIPTION,ATTR_INDICATOR_EXPLANATION,ATTR_UNIT_MEASURE,ATTR_DATA_EXTRACTION_METHDOLOGY,ATTR_SOURCE_TITLE,ATTR_API_ENDPOINT_URL,CRBA_RELEASE_YEAR,ATTR_ENCODING_LABELS,SCALED_OBS_VALUE,OBS_STATUS
0,AFG,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
1,ALB,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
2,AND,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
3,DZA,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
4,AGO,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,VEN,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
191,VNM,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
192,YEM,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
193,ZMB,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
194,ZWE,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O

In [13]:
import csv
df_S_176.to_csv("ge_dummy_schema_s176.csv",sep=";",quotechar="'",quoting=csv.QUOTE_ALL,index=False)

In [4]:
df = main.aggregate_combined_normalized_csv(conf_S_176,df_S_176)

This is the number of duplicate rows:
0

In [5]:
df

,COUNTRY_ISO_3,TIME_PERIOD,RAW_OBS_VALUE,_merge,INDICATOR_NAME,INDICATOR_INDEX,INDICATOR_ISSUE,INDICATOR_CATEGORY,INDICATOR_CODE,ATTR_SOURCE,...,ATTR_INDICATOR_DESCRIPTION,ATTR_INDICATOR_EXPLANATION,ATTR_UNIT_MEASURE,ATTR_DATA_EXTRACTION_METHDOLOGY,ATTR_SOURCE_TITLE,ATTR_API_ENDPOINT_URL,CRBA_RELEASE_YEAR,ATTR_ENCODING_LABELS,SCALED_OBS_VALUE,OBS_STATUS
0,AFG,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
1,ALB,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
2,AND,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
3,DZA,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
4,AGO,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,VEN,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
191,VNM,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
192,YEM,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
193,ZMB,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O
194,ZWE,2017.0,0,both,Use of children in hostilities prohibited,Community and Environment,Security arrangements,Legal framework national,CE_SA_LF_USCHHP,https://childsoldiersworldindex.org/_x000D_\n,...,Is the use of children to participate in hosti...,,,Data has been extracted and entered manually f...,Child Soldiers Index:\n\n,file:../data_in/data_raw_manually_extracted/hu...,2022,2=Yes; 1=No; 0=Don't know/ No data received/ N...,NaN,O

In [28]:
import pandas as pd

In [35]:
stats_df = pd.DataFrame.from_dict(stats).transpose()
stats_df

                                                   stats error
S-1    <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-2    <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-3    <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-4    <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-5    <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
...                                                  ...   ...
S-235  <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-236  <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-237  <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-238  <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-239  <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN

[196 rows x 2 columns]

In [42]:
stats_df

                                                   stats error
S-1    <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-2    <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-3    <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-4    <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-5    <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
...                                                  ...   ...
S-235  <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-236  <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-237  <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-238  <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN
S-239  <class 'pandas.core.frame.DataFrame'>\nInt64In...   NaN

[196 rows x 2 columns]

In [46]:
conf_df = conf.source_config.set_index(keys="SOURCE_ID")

In [47]:
conf_df

,SOURCE_TYPE,SOURCE_BODY,SOURCE_TITLE,ADDRESS,LAST_UPDATED,STATUS_x,EFFECTIVE_OF_x,COMMENTS_x,EXTRACTION_TYPE,UPDATES_SOURCE_ID,...,DIMENSION_VALUES_NORMALIZATION,UNIT_MEASURE,CORRESPONDING_SOURCE,CORRESPONDING_VALUE_TYPE,SORTING_COLUMN,INDEX_CODE,ISSUE_CODE,CATEGORY_CODE,INDICATOR_CODE_PREFIX,INDICATOR_CODE
SOURCE_ID,,,,,,,,,,,,,,,,,,,,,
S-1,Website (static html),ILO NORMLEX,Ratification by Convention. Ratifications of ...,https://www.ilo.org/dyn/normlex/en/f?p=NORMLEX...,,Created,2018,Filter column in the scoring spreadsheet to ch...,manual,,...,,,NaN,NaN,1,WP,CL,LF,WP_CL_LF_,WP_CL_LF_MIAGCO
S-2,Website (static html),ILO NORMLEX,Ratification by Convention. Ratifications of C...,https://www.ilo.org/dyn/normlex/en/f?p=NORMLEX...,,Created,2018,Filter column in the scoring spreadsheet to ch...,manual,,...,,,NaN,NaN,2,WP,CL,LF,WP_CL_LF_,WP_CL_LF_WOFCLC
S-3,Website (static html),UN Treaties,11. c Optional Protocol to the Convention on t...,https://treaties.un.org/Pages/ViewDetails.aspx...,,Created,2018,Filter column in the scoring spreadsheet to ch...,automated,,...,,,NaN,NaN,3,WP,CL,LF,WP_CL_LF_,WP_CL_LF_OPCSCC
S-4,Website (static html),UN Treaties,"UN Protocol to Prevent, Suppress and Punish Tr...",https://treaties.un.org/pages/ViewDetails.aspx...,,Created,2018,Filter column in the scoring spreadsheet to ch...,manual,,...,,,NaN,NaN,4,WP,CL,LF,WP_CL_LF_,WP_CL_LF_UPPSPT
S-5,Website (static html),ILO NORMLEX,Ratification by Convention. Ratifications of C...,https://www.ilo.org/dyn/normlex/en/f?p=NORMLEX...,,Created,2018,Filter column in the scoring spreadsheet to ch...,manual,,...,,,NaN,NaN,5,WP,CL,LF,WP_CL_LF_,WP_CL_LF_FOLACO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S-235,Website (static html),UNICEF research,Marketing and advertising self regulation (sou...,https://www.dlapiper.com/en/uk/insights/public...,,Created,2020,This indicator is created by human research an...,manual,"S-85, S-86",...,,,NaN,NaN,75,MP,MA,LF,MP_MA_LF_,MP_MA_LF_MAADSE
S-236,Website (static html),UNICEF research,National standards body (sources: ISO and IEC),https://www.iso.org/members.html and https://w...,,Created,2020,Use both sources. The IEC (International Elect...,manual,"S-110, S-111",...,,,NaN,NaN,93,MP,PS,LF,MP_PS_LF_,MP_PS_LF_NASTBO
S-237,Website (static html),UNICEF research,Regulation of PMSCOs (sources: OHCHR and Unive...,https://www.ohchr.org/EN/Issues/Mercenaries/WG...,,Created,2020,This indicator is created by human research an...,manual,"S-177, S-206",...,,,NaN,NaN,158,CE,SA,LF,CE_SA_LF_,CE_SA_LF_REPMSC
S-238,Website (static html),UNICEF research,Consumer protection monitoring body (sources: ...,https://www.ftc.gov/policy/international/compe...,,Created,2020,This indicator is created by human research an...,manual,"S-107, S-108",...,,,NaN,NaN,202,MP,PS,EN,MP_PS_EN_,MP_PS_EN_COPREA
S-239,API (WB),World Bank,Trained teachers in preprimary education (% of...,https://databank.worldbank.org/reports.aspx?so...,,Created,2020,Note the title matches the indicator e.g. it ...,automated,S-212,...,,PCNT,NaN,NaN,197,WP,MP,EN,WP_MP_EN_,WP_MP_EN_QUPRTE

In [52]:
conf.source_config.merge(stats_df,left_on="SOURCE_ID", right_index=True,how="left")[["SOURCE_ID","SOURCE_BODY","SOURCE_TITLE","stats","error"]].to_csv("run.csv",sep=";",quotechar="'")

In [1]:
import pandas as pd

In [5]:
df_sdg_2020 = pd.read_csv("/home/lasse/Downloads/SDG_CONSULT_2020_1.csv")

In [12]:
indicator_id = df_sdg_2020["INDICATOR:Indicator"].apply(lambda x : x.split(":")[0])

In [15]:
df_sdg_2023 = pd.read_csv("../data_out/190c5bf1-8957-417e-95bd-1606cfe27e4e/crba_final.csv",quotechar='"',sep=";")

/tmp/ipykernel_23627/519412397.py:1: DtypeWarning: Columns (1,2,16,26,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sdg_2023 = pd.read_csv("../data_out/190c5bf1-8957-417e-95bd-1606cfe27e4e/crba_final.csv",quotechar='"',sep=";")

In [19]:
set(df_sdg_2023.INDICATOR_CODE).intersection(set(indicator_id))

set()

In [20]:
set(df_sdg_2023.INDICATOR_CODE)

{'CE_FC_EN_EDUSPE',
 'CE_FC_EN_ENECRF',
 'CE_FC_EN_GOVEFF',
 'CE_FC_EN_HEAEXP',
 'CE_FC_EN_LISSDP',
 'CE_FC_LF_CORICC',
 'CE_FC_LF_CROPCP',
 'CE_FC_LF_LESTCR',
 'CE_FC_OC_OUADPS',
 'CE_FC_OC_RIHEFU',
 'CE_FC_OC_RILIFU',
 'CE_FC_OC_RIPRFU',
 'CE_LR_EN_QULAAD',
 'CE_LR_EN_VOIACC',
 'CE_LR_LF_COLATE',
 'CE_LR_LF_CORIIP',
 'CE_LR_LF_COSECR',
 'CE_LR_LF_DERIIP',
 'CE_LR_LF_INLATE',
 'CE_LR_OC_PICLFR',
 'CE_ND_EN_NASASF',
 'CE_ND_EN_RIHUCD',
 'CE_ND_LF_NADRRS',
 'CE_ND_LF_TEREDM',
 'CE_ND_OC_DALIAD',
 'CE_ND_OC_DEASDI',
 'CE_ND_OC_NEDIND',
 'CE_ND_OC_NUIDND',
 'CE_RD_EN_RHWCBC',
 'CE_RD_EN_RHWCSC',
 'CE_RD_LF_ACCINF',
 'CE_RD_LF_BASCON',
 'CE_RD_LF_COCLCH',
 'CE_RD_LF_ENIMAS',
 'CE_RD_LF_ENVPRO',
 'CE_RD_LF_PACLAG',
 'CE_RD_LF_PARTIC',
 'CE_RD_LF_POLREG',
 'CE_RD_LF_RIENCO',
 'CE_RD_LF_STOCON',
 'CE_RD_LF_WATCON',
 'CE_RD_OC_CHDLAP',
 'CE_RD_OC_EXAIPO',
 'CE_RD_OC_LAADDF',
 'CE_SA_EN_CHPRSE',
 'CE_SA_EN_GOVCOR',
 'CE_SA_EN_POSTAV',
 'CE_SA_LF_CARUFT',
 'CE_SA_LF_COPCAC',
 'CE_SA_LF_MONDOC',
 'CE_SA_LF_REPMSC',
 'CE_SA_LF_UNRECP',
 'CE_SA_LF_USCHHP',
 'CE_SA_LF_WOFCLC',
 'CE_SA_OC_NEDICV',
 'CE_SA_OC_NUIDCV',
 'CE_SA_OC_RECHHO',
 'MP_MA_EN_GOVEFF',
 'MP_MA_EN_OPPOAL',
 'MP_MA_EN_OPPOTO',
 'MP_MA_EN_OPPOUD',
 'MP_MA_EN_REMABS',
 'MP_MA_LF_AGLIOA',
 'MP_MA_LF_AGLIPT',
 'MP_MA_LF_ALHEWL',
 'MP_MA_LF_BAAANR',
 'MP_MA_LF_BAAANT',
 'MP_MA_LF_BAAAPM',
 'MP_MA_LF_BATOAD',
 'MP_MA_LF_FRCOTC',
 'MP_MA_LF_IICMBS',
 'MP_MA_LF_MAADSE',
 'MP_MA_LF_ONASAL',
 'MP_MA_LF_POMAFC',
 'MP_MA_LF_REMACH',
 'MP_MA_LF_WADATO',
 'MP_MA_OC_CHMA6M',
 'MP_MA_OC_OLCHTO',
 'MP_MA_OC_USEALC',
 'MP_MA_OC_YOSMRA',
 'MP_OL_EN_CHIHEL',
 'MP_OL_EN_CHSAEE',
 'MP_OL_EN_CSAEGC',
 'MP_OL_EN_EFJUSY',
 'MP_OL_EN_ENECRF',
 'MP_OL_EN_NASCOP',
 'MP_OL_LF_CRPOCS',
 'MP_OL_LF_CSAELF',
 'MP_OL_LF_DAPRPR',
 'MP_OL_LF_ISRECS',
 'MP_OL_LF_LEPRCS',
 'MP_OL_LF_LPTFCO',
 'MP_OL_LF_ONEXAB',
 'MP_OL_LF_WEPRGA',
 'MP_OL_OC_CHSAEE',
 'MP_OL_OC_FREBUL',
 'MP_OL_OC_PRSEVI',
 'MP_OL_OC_RESMEC',
 'MP_PS_EN_COPREA',
 'MP_PS_EN_GOVCOR',
 'MP_PS_EN_REGQUA',
 'MP_PS_EN_RULLAW',
 'MP_PS_LF_COPRLA',
 'MP_PS_LF_NAPSCP',
 'MP_PS_LF_NASTBO',
 'MP_PS_LF_ONCOPR',
 'MP_PS_LF_WHOCON',
 'MP_PS_OC_DERAIN',
 'MP_PS_OC_MORADP',
 'WP_CL_EN_BIR5YA',
 'WP_CL_EN_CHPRSE',
 'WP_CL_EN_GOVCOR',
 'WP_CL_EN_LISSDP',
 'WP_CL_LF_ABFOLC',
 'WP_CL_LF_ALFOTP',
 'WP_CL_LF_COMSCH',
 'WP_CL_LF_CSAELF',
 'WP_CL_LF_FOLACO',
 'WP_CL_LF_MIAGCO',
 'WP_CL_LF_MIAGEM',
 'WP_CL_LF_MIAGHW',
 'WP_CL_LF_MIAGLW',
 'WP_CL_LF_OPCSCC',
 'WP_CL_LF_PRFOLC',
 'WP_CL_LF_UPPSPT',
 'WP_CL_LF_WOFCLC',
 'WP_CL_OC_CHLAR5',
 'WP_CL_OC_OUADLS',
 'WP_CL_OC_OUADUS',
 'WP_CL_OC_PRHAWA',
 'WP_CL_OC_PRHUTR',
 'WP_CL_OC_PRMOSL',
 'WP_DW_EN_COLAMP',
 'WP_DW_EN_INFEMP',
 'WP_DW_EN_NAPBHR',
 'WP_DW_EN_POCLMP',
 'WP_DW_EN_TRUNRE',
 'WP_DW_EN_WOINEM',
 'WP_DW_LF_DIEMCO',
 'WP_DW_LF_EQRECO',
 'WP_DW_LF_EQUPAY',
 'WP_DW_LF_FOWECO',
 'WP_DW_LF_FRASCO',
 'WP_DW_LF_FREASS',
 'WP_DW_LF_GENDIS',
 'WP_DW_LF_HOWOCO',
 'WP_DW_LF_LAINCO',
 'WP_DW_LF_MINWAG',
 'WP_DW_LF_MIWAFC',
 'WP_DW_LF_MIWOFC',
 'WP_DW_LF_OCSAHC',
 'WP_DW_LF_PAANLE',
 'WP_DW_LF_PRWACO',
 'WP_DW_LF_RIOCBC',
 'WP_DW_LF_SEXHAR',
 'WP_DW_LF_SICLEA',
 'WP_DW_LF_WAPRNI',
 'WP_DW_LF_WEERES',
 'WP_DW_OC_MINWAG',
 'WP_DW_OC_WOPORA',
 'WP_MP_EN_ENECRF',
 'WP_MP_EN_GOVEFF',
 'WP_MP_EN_MALECB',
 'WP_MP_EN_POCOSI',
 'WP_MP_EN_QUPRTE',
 'WP_MP_EN_SOINCO',
 'WP_MP_LF_BREPRO',
 'WP_MP_LF_CN1MPR',
 'WP_MP_LF_CON1MP',
 'WP_MP_LF_DUMALE',
 'WP_MP_LF_DUPALE',
 'WP_MP_LF_JOPRML',
 'WP_MP_LF_JOPRPL',
 'WP_MP_LF_MATBEN',
 'WP_MP_LF_SUPCHI',
 'WP_MP_OC_ACPRED',
 'WP_MP_OC_COMALE',
 'WP_MP_OC_MACABE',
 'WP_MP_OC_MORMCB'}

In [21]:
set(indicator_id)

{'ECD_CHLD_36-59M_LMPSL',
 'MNCH_SAB',
 'PT_CHLD_1-14_PS-PSY-V_CGVR',
 'PT_CHLD_5-17_LBR_ECON',
 'PT_CHLD_5-17_LBR_ECON-HC',
 'PT_CHLD_Y0T4_REG',
 'PT_F_15-49_FGM',
 'PT_F_18-29_SX-V_AGE-18',
 'PT_F_20-24_MRD_U15',
 'PT_F_20-24_MRD_U18',
 'PT_M_18-29_SX-V_AGE-18'}

In [44]:
import pandas as pd

df_conf = pd.read_csv("../data_out/d121f4a9-395e-4b71-b818-646adf8081d3/source_config.csv", sep=";")
df_comb  = pd.read_csv("../data_out/d121f4a9-395e-4b71-b818-646adf8081d3/combined_normalized.csv", sep=";")

/tmp/ipykernel_12614/1449744853.py:4: DtypeWarning: Columns (31,33,34,35,37,38,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_comb  = pd.read_csv("../data_out/d121f4a9-395e-4b71-b818-646adf8081d3/combined_normalized.csv", sep=";")

In [45]:
combined = pd.merge(df_conf,df_comb, how="outer",on="SOURCE_ID")

In [46]:
combined.groupby("SOURCE_ID").size()

SOURCE_ID
S-100     331
S-101       1
S-103    1699
S-104       2
S-106     195
         ...
S-92      579
S-93      579
S-95      195
S-96      195
S-97      461
Length: 154, dtype: int64

In [ ]:
combined[combined["SOURCE_ID"]]

In [5]:
df_conf

,Unnamed: 0,SOURCE_ID,SOURCE_TYPE,SOURCE_BODY,SOURCE_TITLE,ADDRESS,LAST_UPDATED,STATUS_x,EFFECTIVE_OF_x,COMMENTS_x,...,DIMENSION_VALUES_NORMALIZATION,UNIT_MEASURE,CORRESPONDING_SOURCE,CORRESPONDING_VALUE_TYPE,SORTING_COLUMN,INDEX_CODE,ISSUE_CODE,CATEGORY_CODE,INDICATOR_CODE_PREFIX,INDICATOR_CODE
0,1,S-2,Website (static html),ILO NORMLEX,Ratification by Convention. Ratifications of C...,https://www.ilo.org/dyn/normlex/en/f?p=NORMLEX...,NaN,Created,2018,Filter column in the scoring spreadsheet to ch...,...,NaN,NaN,NaN,NaN,2,WP,CL,LF,WP_CL_LF_,WP_CL_LF_WOFCLC
1,2,S-3,Website (static html),UN Treaties,11. c Optional Protocol to the Convention on t...,https://treaties.un.org/Pages/ViewDetails.aspx...,NaN,Created,2018,Filter column in the scoring spreadsheet to ch...,...,NaN,NaN,NaN,NaN,3,WP,CL,LF,WP_CL_LF_,WP_CL_LF_OPCSCC
2,31,S-42,Excel (no URL),World Policy Analysis Centre,Are women protected from discrimination at wor...,https://www.worldpolicycenter.org/policies/are...,NaN,Created,2020,Use the download data option. Date given for d...,...,NaN,NaN,NaN,NaN,38,WP,DW,LF,WP_DW_LF_,WP_DW_LF_GENDIS
3,37,S-50,API (ILO),ILO,Gender wge gap by occupation (%) - annual,https://www.ilo.org/global/about-the-ilo/multi...,NaN,Created,2020,Use the data download option,...,"DIM_OCU_TYPE==""All occupations (isco-08)""",PCNT,NaN,NaN,46,WP,DW,OC,WP_DW_OC_,WP_DW_OC_GEPAGA
4,61,S-80,API (SDG),UN SDG,SDG Indicator 1.3.1 World Bank – Proportion of...,https://unstats.un.org/sdgs/indicators/database/,NaN,Created,2020,Use download option from SDG database,...,"DIM_QUANTILE==""_T""",PCNT,NaN,NaN,70,WP,DW,EN,WP_DW_EN_,WP_DW_EN_COLAMP

In [5]:
def foo(A,**kwargs):
    print(A)
    print(kwargs)
    {key:value for key,value in kwargs.items()}


foo(**{"A":"aaa", "eee":99})

aaa
{'eee': 99}